@using MobileBackend.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Layout = null;
}
<b>Add eMandate (Link in SMS would be sent to customer)</b>
<form method="post" action="/LoanFlow/AddMandate" enctype="multipart/form-data" onsubmit="checkSubmit(event)">
    <input type="hidden" value="@ViewBag.ApplicationId" name="ApplicationId"/>
   
   <div class="row justify-content-between text-left">
  <div class="form-group col-sm-4 flex-column d-flex">
    <label >Debit Applicant</label>
    <select class="form-control-sm" name="appId" id="PjDesc">
         <option value="0">--Select--</option>
        @foreach(var a in (List<Applicant>)ViewBag.Apps)
                {
                    <option value="@a.Id">@a.Applicant_First_Name @a.Applicant_Last_Name</option>
                }

    </select>
  </div>
  <div class="form-group col-sm-4 flex-column d-flex">
    <label> Debit Account</label>
    <input type="text" name="acNumber"  class="form-control-sm" />
  </div>
  <div class="form-group col-sm-4 flex-column d-flex">
    <label >Amount</label>
   <input type="number" class="form-control-sm" required id="PjCost" name="EMI"  placeholder="EMI" value="@ViewBag.EMI">
  </div>
 
  </div>
   <div class="row justify-content-between text-left">
    <div class="form-group col-sm-4 flex-column d-flex">
    <label> Debit Account Type</label>
    <select class="form-control-sm" name="acType">
        <option>SAVINGS</option>
        <option>CURRENT</option>
        <option>CASH CREDIT</option>
    </select>
  </div>
  <div class="form-group col-sm-4 flex-column d-flex">
    <label> Debitor Bank</label>
    <select class="form-control-sm" id="dbtBank" name="bankName">
            <option value='AACX'>AKHAND ANAND CO.OP BANK LTD</option>
            <option value='ABCX'>THE AURANGABAD DISTRICT CENTRAL COOP BANK LIMITED</option>
            <option value='ABDX'>DR. AMBEDKAR NAGRIK SAHAKARI BANK MYDT GWALIOR</option>
            <option value='ABEX'>THE ANDHRA BANK EMPLOYEES CO OPERATIVE BANK LTD</option>
            <option value='ABHY'>ABHYUDAYA CO-OPERATIVE BANK</option>
            <option value='ABSB'>THE ABHINAV SAHAKARI BANK LIMITED</option>
            <option value='ABUX'>ABHINANDAN URBAN COOP BANK AMRAVATI</option>
            <option value='ACAX'>THE ASSAM COOPERATIVE APEX BANK LTD</option>
            <option value='ACBX'>ADARSH CO-OPERATIVE BANK LTD</option>
            <option value='ACCX'>ACE COOPERATIVE BANK LTD</option>
            <option value='ACKX'>ANNASAHEB CHOUGULE URBAN CO-OP BANK LTD.</option>
            <option value='ACOX'>AMARNATH COOP BANK LTD</option>
            <option value='ACUB'>THE ARYAPURAM COOPERATIVE URBAN BANK LTD</option>
            <option value='ACUX'>THE ADARSH COOPERATIVE URBAN BANK LIMITED</option>
            <option value='ADBX'>THE AHMEDABAD DISTRICT CO-OPERATIVE BANK LTD</option>
            <option value='ADCC'>THE AKOLA DISTRICT CENTRAL COOPERATIVE BANK LTD</option>
            <option value='ADCX'>SHRI ADINATH CO-OP.BANK LTD.</option>
            <option value='ADDX'>THE ADILABAD DISTRICT CO-OP CENTRAL BANK LTD.</option>
            <option value='AGCX'>THE AGRASEN CO-OPERATIVE URBAN BANK LTD</option>
            <option value='AGDX'>AGRA DISTRICT CO OPERATIVE BANK LTD</option>
            <option value='AGRX'>AGROHA COOPERATIVE URBAN BANK LTD</option>
            <option value='AGUX'>AGARTALA COOPERATIVE URBAN BANK LIMITED</option>
            <option value='AGVX'>ASSAM GRAMIN VIKASH BANK</option>
            <option value='AHUX'>AHILYADEVI URBAN COOPERATIVE BANK LIMITED SOLAPUR</option>
            <option value='AJKB'>THE AKOLA JANATA COMMERCIAL CO-OPERATIVE BANK LTD</option>
            <option value='AJNX'>AJANTHA URBAN CO-OP BANK LTD</option>
            <option value='AJPX'>AMBAJOGAI PEOPLES COOP BANK LTD</option>
            <option value='AJSX'>AMBARNATH JAI-HIND CO-OP.BANK LTD.</option>
            <option value='AJUX'>THE AJARA URBAN CO-OP BANK LTD BOM</option>
            <option value='AKOX'>THE AKOLA URBAN CO OPERATIVE BANK LTD</option>
            <option value='ALAX'>ALAVI CO OPERATIVE BANK LTD</option>
            <option value='ALIX'>ALIGARH DISTRICT CO OPERATIVE BANK LTD</option>
            <option value='ALLX'>ALLAHABAD DISTRICT CO OPERATIVE BANK LTD</option>
            <option value='AMAX'>AMAN SAHAKARI BANK LTD</option>
            <option value='AMCB'>THE AHMEDABAD MERCANTILE CO-OP BANK LTD</option>
            <option value='AMCX'>THE AMRITSAR CENTRAL COOPERATIVE BANK LIMITED.</option>
            <option value='AMNX'>ASTHA MAHILA NAGRIK SAHAKARI BANK MARYADIT</option>
            <option value='AMRX'>AMRELI JILLA MADHYASTHA SAHAKARI BANK LTD</option>
            <option value='AMSB'>ANNASAHEB MAGAR SAHAKARI BANK MARYADIT</option>
            <option value='AMSX'>THE AMBIKA MAHILA SAHAKARI BANK LTD. AHMEDNAGAR</option>
            <option value='ANDX'>ANDARSUL URBAN COOP BANK LTD. ANDARSUL</option>
            <option value='ANMX'>THE AHMEDNAGAR MERCHANT'S CO-OP BANK LTD</option>
            <option value='ANSX'>ANDAMAN & NICOBAR STATE COOPERATIVE BANK LTD.</option>
            <option value='APBL'>THE ANDHRA PRADESH STATE COOPERATIVE BANK LTD</option>
            <option value='APGB'>ANDHRA PRAGATHI GRAMEENA BANK</option>
            <option value='APGX'>ANDHRA PRADESH GRAMEENA VIKAS BANK</option>
            <option value='APJX'>AP JANATA COOPERATIVE URBAN BANK LTD</option>
            <option value='APMC'>AP MAHESH COOPERATIVE BANK</option>
            <option value='APMX'>THE AP MAHAJAN'S COOPERATIVE URBAN BANK LTD</option>
            <option value='APNX'>APANI SAHAKARI BANK LTD</option>
            <option value='APRX'>ARUNACHAL PRADESH RURAL BANK</option>
            <option value='APSX'>ADARNIYA P.D. PATILSAHEB SAHAKARI BANK LTD.</option>
            <option value='ARYX'>GRAMIN BANK OF ARYAVART</option>
            <option value='ASBL'>APNA SAHAKARI BANK LTD.</option>
            <option value='ASBX'>AHMEDNAGAR SHAHAR SAHAKARI BANK MARYADIT</option>
            <option value='ASHX'>THE ASHTA PEOPLE'S CO-OP BANK LTD ASHTA</option>
            <option value='ASKX'>ARVIND SAHAKARI BANK LTD</option>
            <option value='ASOX'>THE ASSOCIATE CO OPERATIVE BANK LTD</option>
            <option value='ASSX'>ASHOK SAHAKARI BANK LTD</option>
            <option value='AUBL'>AU SMALL FINANCE BANK LTD</option>
            <option value='AUCB'>ALMORA URBAN CO-OPERATIVE BANK LTD.</option>
            <option value='AUCX'>THE AJARA URBAN CO-OP. BANK LTD.</option>
            <option value='AVDX'>THE AMRAVATI DISTRICT CENTRAL CO OP BANK LTD</option>
            <option value='AWCX'>THE ALWAYE URBAN COOPERATIVE BANK LTD</option>
            <option value='BACB'>BASSEIN CATHOLIC CO-OP BANK LTD</option>
            <option value='BACX'>THE BIHAR AWAMI CO OPERATIVE BANK LTD</option>
            <option value='BADX'>BANKURA DISTRICT CENTRAL COOPERATIVE BANK LTD</option>
            <option value='BALX'>BALASINOR NAGARIK SAHAKARI BANK LTD</option>
            <option value='BARB'>BANK OF BARODA</option>
            <option value='BARC'>BARCLAYS BANK PLC</option>
            <option value='BARX'>THE BARODA CITY CO OPERATIVE BANK LTD</option>
            <option value='BASX'>SHRI BASAVESHWAR SAHAKARI BANK NYT.BAGALKOT</option>
            <option value='BAVX'>THE BAVLA NAGRIK SAHAKARI BANK LTD</option>
            <option value='BBKM'>BANK OF BAHRAIN & KUWAIT</option>
            <option value='BBLX'>BHINGAR URBAN CO-OPERATIVE BANK LTD</option>
            <option value='BBRX'>THE BANGALORE BANGALORE RURAL&RAMANAGARA DCCB LTD</option>
            <option value='BCBM'>THE BHARAT CO-OPERATIVE BANK LTD</option>
            <option value='BCBX'>THE BANTRA CO-OPERATIVE BANK LTD</option>
            <option value='BCCB'>THE BANGALORE CITY CO-OPERATIVE BANK LIMITED</option>
            <option value='BCCX'>THE BATHINDA CENTRAL CO-OPERATIVE BANK LTD.</option>
            <option value='BCEX'>THE BANSWARA CENTRAL CO OPERATIVE BANK LTD</option>
            <option value='BCEY'>BANK OF CEYLON</option>
            <option value='BCUB'>THE BICHOLIM URBAN CO-OPERATIVE BANK LTD</option>
            <option value='BDBL'>BANDHAN BANK LIMITED</option>
            <option value='BDNX'>BHIND NAGRIK SAHAKARI BANK MYDT</option>
            <option value='BDUX'>BANDA URBAN CO OPERATIVE BANK LTD</option>
            <option value='BGCX'>BALAGERIA CENTRAL COOP BANK LTD</option>
            <option value='BGGX'>BARODA GUJARAT GRAMIN BANK</option>
            <option value='BGVX'>BANGIYA GRAMIN VIKASH BANK</option>
            <option value='BHAX'>THE BHAGYODAYA CO OPERATIVE BANK LTD</option>
            <option value='BHCX'>THE BHUJ COMMERCIAL CO-OP BANK LTD</option>
            <option value='BHDX'>BHADOHI URBAN CO OPERATIVE BANK LTD GYANPUR</option>
            <option value='BHEX'>BHEL EMPLOYEES COOPERATIVE BANK LTD</option>
            <option value='BHJX'>THE BHUJ MERCENTILE COOP BANK LTD</option>
            <option value='BHMX'>BRAHMADEODADA MANE SAHAKARI BANK LTD SOLAPUR</option>
            <option value='BHOX'>BHOPAL CO OPERATIVE CENTRAL BANK LTD</option>
            <option value='BHSX'>BHARATI SAHAKARI BANK LTD. PUNE</option>
            <option value='BHTX'>THE BHATKAL URBAN COOPERATIVE BANK LTD</option>
            <option value='BHUX'>BHILWARA URBAN CO-OPERATIVE BANK LTD</option>
            <option value='BJUX'>THE BIJNOR URBAN CO OPERATIVE BANK LTD</option>
            <option value='BKCX'>THE BHAVASARA KSHATRIYA COOPERATIVE BANK LTD</option>
            <option value='BKDX'>THE BANASKANTHA DIST CENTRAL COOP BANK LTD</option>
            <option value='BKID'>BANK OF INDIA</option>
            <option value='BMCB'>BOMBAY MERCANTILE CO-OPERATIVE BANK LTD</option>
            <option value='BMCX'>THE BARMER CENTRAL COOPERATIVE BANK LTD</option>
            <option value='BMPX'>THE BANASKANTHA MERCANTILE CO-OPERATIVE BANK LTD.</option>
            <option value='BMSX'>THE BHAGYALAKSHMI MAHILA SAHAKARI BANK LTD</option>
            <option value='BNBX'>BETUL NAGRIK SAHAKARI BANK MYDT</option>
            <option value='BNCX'>BHATPARA NAIHATI CO OPERATIVE BANK LTD</option>
            <option value='BNPA'>BNP PARIBAS</option>
            <option value='BNSX'>BHAGINI NIVEDITA SAHAKARI BANK LTD.</option>
            <option value='BODX'>THE BAGALKOT DISTRICT CENTRAL CO-OPERATIVE BANK</option>
            <option value='BOFA'>BANK OF AMERICA</option>
            <option value='BORX'>THE BORAL UNION CO OPERATIVE BANK LTD</option>
            <option value='BOTM'>THE BANK OF TOKYO MITSUBISHI UFJ</option>
            <option value='BOTX'>SHREE BOTAD MERCANTILE COOP BANK LTD</option>
            <option value='BPCX'>THE BHADGAON PEOPLE'S CO-OP BANK LTD.</option>
            <option value='BRCX'>THE BHAVANA RISHI COOP. URBAN BANK LIMITED</option>
            <option value='BRDX'>THE BARODA CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='BRGX'>BARODA RAJASTHAN KSHETRIYA GRAMIN BANK</option>
            <option value='BRMX'>BRAMHAPURI URBAN CO OPERATIVE BANK LTD</option>
            <option value='BSBX'>THE BARAMATI SAHAKARI BANK LTD</option>
            <option value='BSCX'>THE BAIDYABATI SHEORAPHULI CO OPERATIVE BANK LTD</option>
            <option value='BTCX'>BALITIKURI CO-OPERATIVE BANK LTD</option>
            <option value='BTUX'>BALOTRA URBAN CO-OPERATIVE BANK LTD</option>
            <option value='BUBX'>THE BHANDARA URBAN CO OPERATIVE BANK LTD</option>
            <option value='BUCX'>BEAWAR URBAN CO-OPERATIVE BANK LTD.</option>
            <option value='BUGX'>BARODA UTTAR PRADESH GRAMIN BANK</option>
            <option value='BUNX'>THE BUNDI CENTRAL COOP BANK LTD</option>
            <option value='BURX'>THE BURDWAN CENTRAL CO OP BANK LTD</option>
            <option value='BUSX'>THE BUSINESS CO-OPERATIVE BANK LTD</option>
            <option value='BUZX'>BADAUN ZILA SAHAKARI BANK LTD BUDAUN</option>
            <option value='BVNX'>BHAVNAGAR DISTRICT CO OP BANK LTD</option>
            <option value='BVSX'>BHAVANI SAHAKARI BANK LTD</option>
            <option value='CALX'>THE CALICUT CO-OPERATIVE URBAN BANK LTD</option>
            <option value='CBHX'>THE CENTRAL COOPERATIVE BANK LTD BHILWARA</option>
            <option value='CBIN'>CENTRAL BANK OF INDIA</option>
            <option value='CCBL'>CITIZEN CREDIT CO-OPERATIVE BANK LTD.</option>
            <option value='CCBX'>THE CITIZEN COOPERATIVE BANK LIMITED</option>
            <option value='CCCX'>CHENNAI CENTRAL CO-OPERATIVE BANK LTD.</option>
            <option value='CDCX'>THE CUDDALORE DISTRICT CENTRAL COOPERATIVE BANK</option>
            <option value='CEBX'>THE CENTRAL COOP BANK LTD BIKANER</option>
            <option value='CGBX'>CHHATTISGARH GRAMIN BANK</option>
            <option value='CGGX'>CHAITANYA GODAVARI GRAMEENA BANK</option>
            <option value='CHAS'>J.P.MORGAN CHASE BANK N.A</option>
            <option value='CHAX'>CHAMOLI ZILA SAHKARI BANK LTD</option>
            <option value='CHBX'>THE CHAMBA URBAN COOPERATIVE BANK LTD CHAMBA</option>
            <option value='CHCX'>THE CHURU CENTRAL COOPERATIVE BANK LTD</option>
            <option value='CHDX'>THE CHITTOOR DISTRICT CO-OP CENTRAL BANK LTD</option>
            <option value='CHIX'>THE CHIKHLI URBAN CO-OP BANK LTD.</option>
            <option value='CHKX'>CHITTORGARH KENDRIYA SAHAKARI BANK LTD</option>
            <option value='CHRX'>CHERPALCHERI COOP URBAN BANK LTD</option>
            <option value='CHSX'>THE CHANDIGARH STATE CO-OP BANK LTD</option>
            <option value='CHTX'>THE CHITNAVISPURA SAHAKARI BANK LTD</option>
            <option value='CITI'>CITIBANK N A</option>
            <option value='CIUB'>CITY UNION BANK LIMITED</option>
            <option value='CJAX'>THE CITIZENS' CO-OPERATIVE BANK LTD JAMMU</option>
            <option value='CLBL'>CAPITAL LOCAL AREA BANK</option>
            <option value='CMCB'>COLOUR MERCHANT'S CO-OPERATIVE BANK LTD</option>
            <option value='CMCX'>COMMERCIAL COOP BANK LIMITED</option>
            <option value='CMDX'>THE COIMBATORE DISTRICT CENTRAL CO-OP BANK LIMITED</option>
            <option value='CMLX'>THE COMMERCIAL CO-OPERATIVE BANK LTD</option>
            <option value='CNRB'>CANARA BANK</option>
            <option value='CNSX'>THE CHEMBUR NAGARIK SAHAKARI BANK</option>
            <option value='COCX'>THE CO OPERATIVE CITY BANK LTD</option>
            <option value='COLX'>COASTAL LOCAL AREA BANK LTD</option>
            <option value='COMX'>THE COOP BANK OF MEHSANA LTD</option>
            <option value='COSB'>THE COSMOS CO-OPERATIVE BANK LTD</option>
            <option value='CRLY'>CREDIT AGRICOLE CORPORATE & INVESTMENT BANK</option>
            <option value='CRSX'>CHHATTISGARH RAJYA SAHAKARI BANK MYDT</option>
            <option value='CRUB'>SHRI CHHATRAPATI RAJARSHI SHAHU URBAN CO-OP BANK</option>
            <option value='CSBK'>THE CATHOLIC SYRIAN BANK</option>
            <option value='CSBX'>CHARTERED SAHAKARI BANK NIYAMITHA</option>
            <option value='CTBX'>CITIZENS CO-OPERATIVE BANK LTD</option>
            <option value='CUCX'>THE CHIPLUN URBAN COOPERATIVE BANK LTD</option>
            <option value='CURX'>THE CITIZENS URBAN COOPERATIVE BANK LTD.</option>
            <option value='CZCX'>CITIZEN CO OPERATIVE BANK LTD</option>
            <option value='CZUX'>CHURU ZILA URBAN CO OPERATIVE BANK LTD</option>
            <option value='DAHX'>THE DAHOD MERCANTILE CO OPERATIVE BANK LTD</option>
            <option value='DBAX'>DR BABASAHEB AMBEDKAR SAHAKARI BANK LTD NASIK</option>
            <option value='DBSS'>DEVELOPMENT BANK OF SINGAPORE</option>
            <option value='DCBL'>DCB BANK LTD</option>
            <option value='DCBX'>DINDIGUL CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='DCCX'>THE DISTRICT COOPERATIVE CENTRAL BANK MAHABUBNAGAR</option>
            <option value='DCDX'>THE DISTRICT CENTRAL COOP BANK LIMITED ELLURU</option>
            <option value='DCEX'>THE DISTRICT CENTRAL COOPEARATIVE BANK LTD KHAMMAM</option>
            <option value='DCKX'>THE DISTRICT COOPERATIVE CENTRAL BANK LTD KURNOOL</option>
            <option value='DCMX'>DISTRICT COOPERATIVE BANK LTD MAINPURI</option>
            <option value='DCNX'>THE DECCAN CO-OPERATIVE URBAN BANK LTD</option>
            <option value='DCPX'>DISTRICT CO OPERATIVE BANK LTD PILIBHIT</option>
            <option value='DCSX'>DISTRICT COOPERATIVE BANK LTD SHAHJAHANPUR</option>
            <option value='DCTX'>DISTRICT CO OPERATIVE BANK LTD. TELIYABAGH</option>
            <option value='DCUX'>THE DARUSSALAM COOPERATIVE URBAN BANK LTD</option>
            <option value='DDBX'>DHARMAPURI DISTRICT CENTRAL CO OP BANK LTD</option>
            <option value='DDCX'>DARJEELING DISTRICT CENTRAL CO OPERATIVE BANK LTD</option>
            <option value='DDDX'>THE DAKSHIN DINAJPUR DISTRICT CENTRAL CO-OP BANK</option>
            <option value='DDHX'>DISTRICT CO OPERATIVE BANK LTD DEHRADUN</option>
            <option value='DENS'>DELHI NAGRIK SEHKARI BANK LTD</option>
            <option value='DEOX'>DEOGIRI SAHAKARI BANK LTD AURANGABAD</option>
            <option value='DEUT'>DEUTSCHE BANK AG</option>
            <option value='DEVX'>DEVELOPMENT CO OPERATIVE BANK LTD KANPUR</option>
            <option value='DGBX'>TELANGANA GRAMEENA BANK</option>
            <option value='DHBX'>THE DHANBAD CENTRAL COOPERATIVE BANK LTD</option>
            <option value='DHKX'>DHAKURIA CO OP BANK LTD</option>
            <option value='DIBX'>DISTRICT CO OPERATIVE BANK LTD BARABANKI</option>
            <option value='DICX'>THE DISTRICT CO-OP CENTRAL BANK LTD VISAKHAPATNAM</option>
            <option value='DLXB'>DHANALAXMI BANK</option>
            <option value='DMCB'>THE DECCAN MERCHANTS CO-OPERATIVE BANK LTD</option>
            <option value='DMKB'>DMK JAOLI BANK</option>
            <option value='DNSB'>DOMBIVILI NAGARI SAHAKARI BANK LTD.</option>
            <option value='DNSX'>DEENDAYAL NAGARI SAHAKARI BANK LTD</option>
            <option value='DOBX'>DAPOLI URBAN CO OP BANK LTD DAPOLI</option>
            <option value='DSCB'>THE DELHI STATE COOPERATIVE BANK LIMITED</option>
            <option value='DSHX'>DISTRICT CO OPERATIVE BANK LTD SAHARANPUR</option>
            <option value='DSPX'>DURGAPUR STEEL PEOPLES' COOP BANK LTD</option>
            <option value='DSUX'>DHARAMVIR SAMBHAJI URBAN CO-OPERATIVE BANK LTD</option>
            <option value='DTCX'>DISTRICT CO-OPERATIVE BANK LTD.RAEBARELI</option>
            <option value='DUCX'>THE DAUND URBAN CO-OP BANK LTD</option>
            <option value='DUNX'>THE DUNGARPUR CENTRAL CO OPERATIVE BANK LTD</option>
            <option value='DYPX'>D.Y.PATIL SAHAKARI BANK LTD. KOLHAPUR</option>
            <option value='ECBL'>EXCELLENT CO-OPERATIVE BANK LTD</option>
            <option value='EDBX'>ELLAQUAI DEHATI BANK</option>
            <option value='EDCX'>THE ERODE DISTRICT CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='ESAF'>ESAF SMALL FINANCE BANK LIMITED</option>
            <option value='ESFB'>EQUITAS SMALL FINANCE BANK LTD</option>
            <option value='FCBX'>THE FAZILKA CENTRAL COOP. BANK LTD</option>
            <option value='FCCX'>THE FARIDKOT CENTRAL COOPERATIVE BANK LTD</option>
            <option value='FCOX'>DISTRICT CO OP BANK LTD FAIZABAD</option>
            <option value='FDRL'>FEDERAL BANK</option>
            <option value='FEKX'>FEROKE CO-OPERATIVE BANK LTD</option>
            <option value='FGCB'>FINGROWTH CO-OPERATIVE BANK LTD</option>
            <option value='FINF'>FINCARE SMALL FINANCE BANK LTD</option>
            <option value='FINX'>THE FINANCIAL CO OPERATIVE BANK LTD</option>
            <option value='FRIX'>THE FARIDABAD CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='FSCX'>THE FATEHGRAH SAHIB CENTRAL COOPERATIVE BANK</option>
            <option value='FZCX'>THE FEROZEPUR CENTRAL COOP. BANK LTD</option>
            <option value='GACX'>GUJARAT AMBUJA CO OPERATIVE BANK LTD</option>
            <option value='GADX'>THE GADHINGLAJ URBAN CO-OP BANK LTD</option>
            <option value='GANX'>THE GANDHIDHAM CO OPERATIVE BANK LTD</option>
            <option value='GBCB'>THE GREATER BOMBAY CO-OPERATIVE BANK LIMITED</option>
            <option value='GCBX'>THE GURUVAYUR CO-OPERATIVE URBAN BANK LTD</option>
            <option value='GCCX'>THE GURDASPUR CENTRAL COOPERATIVE BANK LTD</option>
            <option value='GCUL'>THE GAUHATI CO-OPERATIVE URBAN BANK LTD</option>
            <option value='GCUX'>THE GAYATRI COOPERATIVE URBAN BANK LTD</option>
            <option value='GDCB'>THE GADCHIROLI DISTRICT CENTRAL COOPERATIVE BANK</option>
            <option value='GDCX'>THE GUNTUR DISTRICT COOPERATIVE CENTRAL BANK LTD.</option>
            <option value='GDUX'>THE GODHRA URBAN COOP BANK LTD</option>
            <option value='GHPX'>THE GHATAL PEOPLES' COOPERATIVE BANK LTD</option>
            <option value='GKNX'>THE GANGANAGAR KENDRIYA SAHAKARI BANK LTD</option>
            <option value='GMCX'>GUJARAT MERCANTILE CO-OPERATIVE BANK LIMITED</option>
            <option value='GNCX'>THE GANDHI COOPERATIVE URBAN BANK LTD</option>
            <option value='GNSX'>THE GOZARIA NAGRIK SAHAKARI BANK LTD</option>
            <option value='GODX'>GODAVARI URBAN CO-OPERATIVE BANK LTD. NASHIK</option>
            <option value='GOSX'>GONDAL NAGARIK SAHAKARI BANK LTD</option>
            <option value='GPCX'>THE GANDEVI PEOPLE'S CO-OPERATIVE BANK LIMITED</option>
            <option value='GRAX'>THE GRAIN MERCHANTS' CO-OPERATIVE BANK LTD</option>
            <option value='GSBL'>THE GOA STATE CO-OPERATIVE BANK LTD</option>
            <option value='GSBX'>GANDHIBAG SAHAKARI BANK LTD NAGPUR</option>
            <option value='GSCB'>THE GUJARAT STATE CO-OP BANK LTD</option>
            <option value='GSSX'>GUARDIAN SOUHARDA SAHAKARI BANK NIYAMITA</option>
            <option value='GTCX'>GEORGE TOWN CO-OPERATIVE BANK LTD.</option>
            <option value='GUCX'>THE GOA URBAN CO-OPERATIVE BANK LTD.</option>
            <option value='GUOX'>THE GURGAON CENTRAL COOP BANK LTD</option>
            <option value='HAMX'>HAMIRPUR DISTRICT CO OPERATIVE BANK LTD</option>
            <option value='HANX'>HANUMANGARH KENDRIYA SAHAKARI BANK LTD</option>
            <option value='HCBL'>THE HINDUSTHAN CO-OPERATIVE BANK LTD</option>
            <option value='HCBX'>THE HASTI CO-OP. BANK LTD.</option>
            <option value='HDCX'>THE HYDERABAD DISTRICT COOPERATIVE BANK LTD</option>
            <option value='HDFC'>HDFC BANK LTD</option>
            <option value='HGBX'>SARVA HARYANA GRAMIN BANK</option>
            <option value='HISX'>THE HISAR CENTRAL CO-OPERATIVE BANK LTD HISAR</option>
            <option value='HMBX'>HIMACHAL GRAMIN BANK</option>
            <option value='HMNX'>HIMATNAGAR NAGARIK SAHAKARI BANK LTD</option>
            <option value='HOCX'>THE HOSHIARPUR CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='HOOX'>HOOGHLY DISTRICT CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='HPCX'>SHREE PARSWANATH CO-OPERATIVE BANK LTD</option>
            <option value='HPSX'>THE HIMACHAL PRADESH STATE CO-OPERATIVE BANK LTD</option>
            <option value='HSBC'>THE HONGKONG & SHANGHAI BANKING CORPORATION LTD</option>
            <option value='HSBM'>HAVELI SAHAKARI BANK MARYADIT MOSHI</option>
            <option value='HSCX'>THE HARYANA STATE CO-OPERATIVE APEX BANK LTD.</option>
            <option value='HSDX'>THE HASSAN DISTRICT CO-OPERATIVE CENTRAL BANK LTD</option>
            <option value='HUTX'>HUTATMA SAHAKARI BANK LTD</option>
            <option value='IBKL'>IDBI BANK</option>
            <option value='ICBL'>THE INDUSTRIAL CO-OPERATIVE BANK LTD</option>
            <option value='ICHX'>THE ICHALKARANJI MERCHANTS COOP BANK</option>
            <option value='ICIC'>ICICI BANK LTD</option>
            <option value='ICMX'>INDORE CLOTH MARKET CO-OP BANK LTD</option>
            <option value='IDFB'>IDFC BANK LIMITED</option>
            <option value='IDIB'>INDIAN BANK</option>
            <option value='IMPX'>THE IMPHAL URBAN CO OPERATIVE BANK</option>
            <option value='INDB'>INDUSIND BANK</option>
            <option value='IOBA'>INDIAN OVERSEAS BANK</option>
            <option value='IPCX'>INDORE PREMIER CO-OPERATIVE BANK LTD INDORE</option>
            <option value='IPSX'>INDORE PARASPAR SAHAKARI BANK LTD</option>
            <option value='ISBX'>INDRAPRASTHA SEHKARI BANK LTD</option>
            <option value='ISMX'>INDORE SWAYAM MAHILA CO OP BANK LTD</option>
            <option value='ITCX'>IRINJALAKUDA TOWN CO-OPERATIVE BANK LTD</option>
            <option value='ITDX'>THE INCOME TAX DEPT COOP BANK LTD MUMBAI</option>
            <option value='IUCB'>INTEGRAL URBAN CO-OP BANK LTD</option>
            <option value='JACX'>JAIN CO-OPERATIVE BANK LIMITED</option>
            <option value='JAKA'>THE JAMMU AND KASHMIR BANK LTD</option>
            <option value='JALX'>THE JANALAXMI CO-OPERATIVE BANK LTD</option>
            <option value='JAMX'>JAMIA CO-OPERATIVE BANK LTD</option>
            <option value='JANA'>JANASEVA SAHAKARI BANK LTD PUNE</option>
            <option value='JANX'>THE JANATA CO-OPERATIVE BANK LTD</option>
            <option value='JASB'>JANASEVA SAHAKARI BANK (BORIVLI) LTD</option>
            <option value='JASX'>JANATHA SEVA COOPERATIVE BANK LTD</option>
            <option value='JAUX'>JAIHIND URBAN CO-OP BANK LTD,WAKAD</option>
            <option value='JCBX'>JANATA CO-OP. BANK LTD MALEGAON.</option>
            <option value='JCCB'>THE JAIPUR CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='JCCX'>THE JALANDHAR CENTRAL COOPERATIVE BANK LIMITED</option>
            <option value='JCDX'>THE JAMNAGAR DISTRICT COOP BANK LTD</option>
            <option value='JCUX'>JAGRUTI CO-OPERATIVE URBAN BANK LTD</option>
            <option value='JDCX'>JALAUN DISTRICT CO-OPERATIVE BANK LTD</option>
            <option value='JGWX'>JILA SAHAKARI BANK MYDT. GWALIOR</option>
            <option value='JHAX'>JHARNESHWAR NAGRIK SAHAKARI BANK MARYADIT</option>
            <option value='JHUX'>JHUNJHUNU KENDDRIYA SAHAKARI BAK LTD</option>
            <option value='JJSB'>JALGAON JANATA SAHKARI BANK LTD</option>
            <option value='JKCX'>JANAKALYAN COOP BANK LTD NASHIK</option>
            <option value='JKDX'>JILA SAHAKARI KENDRIYA BANK MYDT. JABALPUR</option>
            <option value='JKEX'>JHALAWAR KENDRIYA SAHKARI BANK LTD</option>
            <option value='JKSX'>THE J&K STATE CO-OPERATIVE BANK LTD</option>
            <option value='JLNX'>THE JALNA PEOPLES COOP BANK LTD JALNA</option>
            <option value='JMCX'>JALNA MERCHANTS CO-OP BANK LTD.</option>
            <option value='JMHX'>JAMSHEDPUR URBAN CO-OPERATIVE BANK LTD</option>
            <option value='JMMX'>THE JAMMU CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='JMPX'>THE JAMNAGAR PEOPLES COOPERATIVE BANK LTD</option>
            <option value='JMSX'>JIJAMATA MAHILA SAHAKARI BANK LTD</option>
            <option value='JODX'>THE JODHPUR CENTRAL CO OPERATIVE BANK LTD</option>
            <option value='JONX'>JODHPUR NAGRIK SAHAKARI BANK LIMITED</option>
            <option value='JOWX'>THE JOWAI COOPERATIVE URBAN BANK LTD</option>
            <option value='JPCB'>THE JALGAON PEOPLES CO OP BANK LTD</option>
            <option value='JPCX'>THE JALPAIGURI CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='JSAB'>THE JAIN SAHAKARI BANK LTD</option>
            <option value='JSAX'>JANATA SAHAKARI BANK LTD AJARA</option>
            <option value='JSBL'>JANAKALYAN SAHAKARI BANK</option>
            <option value='JSBP'>JANATA SAHAKARI BANK LTD.</option>
            <option value='JSBX'>JANASEVA CO-OPERATIVE BANK LTD NASHIK</option>
            <option value='JSCX'>JHARKHAND STATE CO-OPERATIVE BANK LTD</option>
            <option value='JSFB'>JANA SMALL FINANCE BANK LTD</option>
            <option value='JSKX'>JILA SAHAKARI KENDRIYA BANK MARYADIT RAIPUR</option>
            <option value='JSWX'>JANSEWA URBAN CO-OP BANK LTD</option>
            <option value='JTSX'>JUGALKISHOR TAPDIYA SHREE MAHESH UCB AURANGABADLTD</option>
            <option value='JUCX'>THE JUNAGADH COMMERCIAL CO-OP BANK LTD</option>
            <option value='JUSX'>JAYSINGPUR UDGAON SAHAKARI BANK LTD JAYSINGPUR</option>
            <option value='JVCX'>JIVAN COMMERCIAL CO OPERATIVE BANK LTD</option>
            <option value='KAAX'>THE KADAPPA DISTRICT CO-OPERATIVE CENTRAL BANK LTD</option>
            <option value='KACE'>THE KANGRA CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='KAIJ'>KALLAPPANNA AWADE ICHALKARANJI JANATASAHAKARI BANK</option>
            <option value='KALX'>THE KALNA TOWN CREDIT COOPERATIVE BANK LTD</option>
            <option value='KAMX'>KAMALA COOP BANK LTD SOLAPUR</option>
            <option value='KARB'>KARNATAKA BANK LTD</option>
            <option value='KARX'>THE KAIRA DIST CENTRAL CO OPERATIVE BANK LTD</option>
            <option value='KASX'>KASHMIR MERCANTILE CO OPERATIVE BANK LTD</option>
            <option value='KAYX'>THE KANYAKUMARI DISTRICT CENTRAL COOPERATIVE BANK</option>
            <option value='KBCX'>THE KANAKAMAHALAKSHMI CO-OPERATIVE BANK LTD</option>
            <option value='KBSX'>KRISHNA BHIMA SAMRUDDHI LOCAL AREA BANK</option>
            <option value='KCCB'>THE KALUPUR COMMERCIAL CO-OPERATIVE BANK</option>
            <option value='KCCX'>KANCHEEPURAM CENTRAL COOPERATIVE BANK</option>
            <option value='KCEX'>THE KOTA CENTRAL COOP BANK LTD KOTA</option>
            <option value='KCOB'>THE KANGRA CO-OPERATIVE BANK LTD</option>
            <option value='KCUB'>THE KHATTRI COOPERATIVE URBAN BANK LIMITED</option>
            <option value='KCUX'>THE KANNUR CO-OP URBAN BANK LTD</option>
            <option value='KDBX'>THE KARIMNAGAR DISTRICT COOPERATIVE CENTRAL BANK</option>
            <option value='KDIX'>SHREE KADI NAGARIK SAHAKARI BANK LTD</option>
            <option value='KESX'>KESHAV SEHKARI BANK LTD</option>
            <option value='KHAX'>KHALILABAD NAGAR SAHKARI BANK LTD</option>
            <option value='KHCX'>KHARDAH COOPERATIVE BANK LTD</option>
            <option value='KHDX'>THE KHEDA PEOPLE'S CO-OPERATIVE BANK LIMITED</option>
            <option value='KHUX'>THE KHAMGAON URBAN COOP BANK LTD</option>
            <option value='KJSB'>THE KALYAN JANATA SAHAKARI BANK LTD.</option>
            <option value='KKBK'>KOTAK MAHINDRA BANK LTD</option>
            <option value='KKMX'>KANKARIA MAINAGAR NAGRIK SAHAKARI BANK LTD</option>
            <option value='KKSX'>KUMBHI KASARI SAHKARI BANK LTD KUDITRE</option>
            <option value='KLGB'>KERALA GRAMIN BANK</option>
            <option value='KMCB'>KOKAN MERCANTILE CO-OPERATIVE BANK LTD</option>
            <option value='KMCX'>KRISHNA MERCANTILE CO-OP BANK LTD</option>
            <option value='KMSX'>KOLHAPUR MAHILA SAHAKARI BANK LTD.</option>
            <option value='KNBX'>THE KALOL NAGARIK SAHAKARI BANK LTD</option>
            <option value='KNNX'>SRI KANNIKAPARAMESWARI CO-OPERATIVE BANK LIMITED</option>
            <option value='KNSB'>KURLA NAGARIK SAHAKARI BANK LTD</option>
            <option value='KOCX'>KONOKLOTA MAHILA URBAN COOP BANK LTD</option>
            <option value='KODX'>THE KODUNGALLUR TOWN CO-OPERATIVE BANK LTD</option>
            <option value='KOYX'>THE KOYLANCHAL URBAN CO-OPERATIVE BANK LTD</option>
            <option value='KPCX'>KOLHAPUR DIST.CENTRAL CO-OP BANK LTD KOLHAPUR</option>
            <option value='KRDX'>THE KRISHNA DISTRICT COOPERATIVE BANK</option>
            <option value='KRIX'>THE KRISHNAGAR CITY CO OPERATIVE BANK LTD</option>
            <option value='KRMX'>KARAMANA COOPERATIVE URBAN BANK LTD</option>
            <option value='KRNX'>THE KARNAVATI CO.OP. BANK LTD</option>
            <option value='KRTX'>THE KRANTHI CO OPERATIVE URBAN BANK LTD</option>
            <option value='KSBX'>KRISHNA SAHAKARI BANK LTD RETHARE BK</option>
            <option value='KSCB'>THE KARNATAKA STATE CO-OPERATIVE APEX BANK LTD.</option>
            <option value='KSCX'>KERALA STATE CO-OPERATIVE BANK LTD</option>
            <option value='KSNX'>KOTESHWARA SAHAKARI BANK NIYAMITHA</option>
            <option value='KSUX'>KASHIPUR URBAN CO OPERATIVE BANK LTD</option>
            <option value='KTCX'>THE KAPURTHALA CENTRAL COOPERATIVE BANK LTD</option>
            <option value='KUCB'>THE KARAD URBAN CO-OP BANK LTD</option>
            <option value='KUCX'>THE KOLHAPUR URBAN CO-OP BANK LTD</option>
            <option value='KUKX'>THE KUKARWADA NAGARIK SAHAKARI BANK LTD</option>
            <option value='KUMX'>THE KUMBAKONAM CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='KUNS'>THE KURMANCHAL NAGAR SAHKARI BANK LTD</option>
            <option value='KVBL'>KARUR VYSA BANK</option>
            <option value='KVCX'>KAVITA URBAN COOP BANK LTD</option>
            <option value='KVGB'>KARNATAKA VIKAS GRAMEENA BANK</option>
            <option value='LATX'>THE LATUR URBAN COOP BANK LTD LATUR</option>
            <option value='LBMX'>LAXMIBAI MAHILA NAGRIK SAHAKARI BANK MARADIT</option>
            <option value='LCCX'>THE LUDHIANA CENTRAL COOPERATIVE BANK LTD</option>
            <option value='LDCX'>THE LATUR DISTRICT CENTRAL CO OP BANK LTD</option>
            <option value='LDPX'>LOKNETE DATTAJI PATIL SAHAKARI BANK LTD</option>
            <option value='LICB'>LILUAH CO-OPERATIVE BANK LTD</option>
            <option value='LKCX'>THE LITTLE KANCHEEPURAM CO-OP URBAN BANK LTD</option>
            <option value='LKHX'>LAKHIMPUR URBAN COOPERATIVE BANK LTD</option>
            <option value='LKMX'>LOKMANGAL CO-OP. BANK LTD. SOLAPUR</option>
            <option value='LMNX'>LAXMI MAHILA NAGRIK SAHAKARI BANK MARYADIT</option>
            <option value='LOKX'>LOKVIKAS NAGARI SAHAKARI BANK LTD AURANGABAD</option>
            <option value='LONX'>LONAVALA SAHAKARI BANK LTD</option>
            <option value='MABL'>THE MALLESHWARAM CO-OP BANK LTD</option>
            <option value='MACX'>THE MAHABHAIRAB COOP URBAN BANK LTD</option>
            <option value='MADX'>MADHYANCHAL GRAMIN BANK</option>
            <option value='MAHB'>BANK OF MAHARASHTRA</option>
            <option value='MAHX'>SHREE MAHALAXMI URBAN CO-OP CREDIT BANK LTD.</option>
            <option value='MAJX'>MANJERI CO OPERATIVE URBAN BANK LTD</option>
            <option value='MAKX'>THE MAKARPURA INDUSTRIAL ESTATE COOP BANK LTD</option>
            <option value='MALX'>MALVIYA URBAN CO OPERATIVE BANK LTD</option>
            <option value='MANX'>THE MANSA NAGARIK SAHAKARI BANK LTD</option>
            <option value='MASX'>MAHESH URBAN CO-OPERATIVE BANK LTD SOLAPUR</option>
            <option value='MAVX'>SHREE MAHAVIR SAHAKARI BANK LTD</option>
            <option value='MBCX'>THE MUGBERIA CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='MBGX'>MADYA BIHAR GRAMIN BANK</option>
            <option value='MCAX'>MAHESH URBAN COOP BANK LTD AHMEDPUR</option>
            <option value='MCBL'>THE MAHANAGAR CO-OP. BANK LTD.</option>
            <option value='MCCX'>THE MUKTSAR CENTRAL CO-OPERATED BANK LTD</option>
            <option value='MCDX'>MUZAFFARNAGAR DISTRICT COOPERATIVE BANK LTD</option>
            <option value='MCOX'>MAHESH URBAN CO-OPERATIVE BANK LTD PARBHANI</option>
            <option value='MCSX'>THE MATTANCHERRY SARVAJANIK COOP BANK LTD</option>
            <option value='MCUX'>MAHAVEER CO-OPERATIVE URBAN BANK LIMITED</option>
            <option value='MDCB'>MUMBAI DISTRICT CENTRAL CO-OP BANK LTD</option>
            <option value='MDCX'>THE MADURAI DISTRICT CENTRAL COOPERATIVE BANK LTD</option>
            <option value='MDEX'>MODEL CO-OPERATIVE BANK LTD</option>
            <option value='MDGX'>RAJASTHAN MARUDHARA GRAMIN BANK</option>
            <option value='MEDX'>THE DISTRICT CO-OPERATIVE CENTRAL BANK LTD.MEDAK</option>
            <option value='MERX'>MEGHALAYA RURAL BANK</option>
            <option value='MGBX'>MAHARASHTRA GRAMIN BANK</option>
            <option value='MGCB'>THE MOGAVEERA CO-OPERATIVE BANK LTD</option>
            <option value='MGCX'>MANSING CO-OPERATIVE BANK LTD.</option>
            <option value='MGSX'>MANGALDAI NAGAR SAMABAI BANK LTD</option>
            <option value='MHCB'>MIZUHO BANK LTD.</option>
            <option value='MHCX'>MAHOBA URBAN COOPERATIVE BANK LTD MAHOBA</option>
            <option value='MHLX'>MAHILA CO-OPERATIVE BAK LTD</option>
            <option value='MHMX'>SHRI MAHALAXMI CO-OP BAK LTD KOLHAPUR</option>
            <option value='MHNX'>MAHANAGAR NAGRIK SAHAKARI BANK MARYADIT</option>
            <option value='MHSX'>MAHESH SAHAKARI BANK LTD PUNE</option>
            <option value='MIZX'>THE MIZORAM COOPERATIVE APEX BANK LTD</option>
            <option value='MKYX'>MARKETYARD COMMERCIAL CO-OPBANK LIMITED</option>
            <option value='MLDX'>MALDA DISTRICT CENTRAL COOPERATIVE BANK LTD</option>
            <option value='MMCX'>THE MATTANCHERRY MAHAJANIK CO-OP URBAN BANK LTD</option>
            <option value='MNCX'>THE MANSA CENTRAL CO-OPERATIVE BANK LTD.</option>
            <option value='MNSX'>THE MEHSANA NAGARIK SAHAKARI BANK LTD</option>
            <option value='MOGX'>THE MOGA CENTRAL COOPERATIVE BANK LTD</option>
            <option value='MPCX'>THE MOIRANG PRIMARY CO-OPERATIVE BANK LTD</option>
            <option value='MPDX'>THE MALAPPURAM DISTRICT CO-OPERATIVE BANK LIMITED</option>
            <option value='MPRX'>MADHTYA PRADESH RAJYA SAHAKARI BANK MARYADIT</option>
            <option value='MRBX'>MANIPUR RURAL BANK</option>
            <option value='MRTX'>MARATHA COOPERATIVE BANK LTD</option>
            <option value='MSAX'>MANSAROVAR URBAN CO-OPERATIVE BANK LTD</option>
            <option value='MSBL'>THE MALAD SAHAKARI BANK LTD</option>
            <option value='MSBX'>M.S.CO-OPERATIVE BANK LTD</option>
            <option value='MSCI'>MAHARASHTRA STATE CO-OPERATIVE BANK LTD</option>
            <option value='MSCX'>THE MANIPUR STATE CO OPERATIVE BANK LTD</option>
            <option value='MSNU'>THE MEHSANA URBAN CO-OPERATIVE BANK</option>
            <option value='MSNX'>THE MEHSANA DISTRICT CENTRAL CO OP BANK LTD</option>
            <option value='MSOX'>MANORAMA CO-OP BANK LTD SOLAPUR</option>
            <option value='MUBL'>THE MUNICIPAL CO-OP BANK LTD</option>
            <option value='MUBX'>THE MAHARAJA CO-OPERATIVE URBAN BANK LTD</option>
            <option value='MUPX'>THE MEHMADABAD URBAN PEOPLES CO-OP BANK LTD</option>
            <option value='MURX'>THE MURSHIDABAD DISTRICT CENTRAL CO-OP BANK LTD.</option>
            <option value='MUSX'>THE MUSLIM CO-OPERATIVE BANK LTD</option>
            <option value='MVCX'>THE MAHAVEER CO-OPERATIVE BANK LTD</option>
            <option value='MVIX'>MANVI PATTANA SOUHARDA SAHAKARI BANK NI</option>
            <option value='MYAX'>THE MEGHALAYA COOPERATIVE APEX BANK LTD</option>
            <option value='MZCX'>MIZORAM URBAN COOPERATIVE DEVELOPMENT BANK LTD</option>
            <option value='MZRX'>MIZORAM RURAL BANK</option>
            <option value='NAGX'>NAGALAND RURAL BANK</option>
            <option value='NAIX'>NAINITAL DISTRICT CO OPERATIVE BANK LTD</option>
            <option value='NALX'>NATIONAL URBAN COOPERATIVE BANK LTD</option>
            <option value='NASX'>NASIK DISTRICT CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='NAUX'>THE NAGAUR CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='NAVX'>THE NAVNIRMAN CO-OPERATIVE BANK LTD</option>
            <option value='NAWX'>THE NAWANAGAR CO OPERATIVE BANK LTD</option>
            <option value='NBBX'>THE NATIONAL CO-OPERATIVE BANK LTD BANGALORE</option>
            <option value='NCBL'>THE NATIONAL CO-OPERATIVE BANK LTD</option>
            <option value='NCBX'>THE NAWANSHAHR CENTRAL COOPERATIVE BANK LTD.</option>
            <option value='NCCX'>THE NABADWIP CO-OPERATIVE CREDIT BANK LTD</option>
            <option value='NCUX'>THE NILAMBUR CO-OPERATIVE URBAN BANK LTD</option>
            <option value='NDCB'>THE NAVAL DOCKYARD CO OP BANK LTD</option>
            <option value='NDCX'>THE NILGIRIS DISTRICT CENTRAL COOP BANK LTD</option>
            <option value='NDDX'>NADIA DISTRICT CENTRAL CO OPERATIVE BANK LTD</option>
            <option value='NESF'>NORTH EAST SMALL FINANCE BANK LTD</option>
            <option value='NGBX'>NAGAR SAHAKARI BANK LTD.MAHARAJGANJ</option>
            <option value='NGKX'>NAGRIK SAHAKARI BANK MARYADIT GWALIOR</option>
            <option value='NGRX'>NAGAR SAHKARI BANK LTD</option>
            <option value='NGSB'>NAGPUR NAGARIK SAHAKARI BANK LTD.</option>
            <option value='NGSX'>NAGARIK SAHAKARI BANK MARYADIT DURG</option>
            <option value='NICB'>NEW INDIA CO-OP BANK LTD</option>
            <option value='NIDX'>NIDHI CO OPERATIVE BANK LTD</option>
            <option value='NILX'>NILKANTH CO OPERATIVE BANK LTD</option>
            <option value='NIRX'>NIRMAL URBAN CO OP BANK LTD. NAGPUR</option>
            <option value='NJCX'>THE NAV JEEVAN CO-OP BANK LTD</option>
            <option value='NJGX'>NARMADA JHABUA GRAMIN BANK</option>
            <option value='NJMX'>NASHIK JILLHA MAHILA VIKAS SAHAKARI BANK LTD</option>
            <option value='NJSX'>THE NASIK JILHA MAHILA SAHAKARI BANK LTD</option>
            <option value='NKGS'>NKGSB CO-OP. BANK LTD.</option>
            <option value='NLGX'>THE NALGONDA DIST. CO-OP. CENTRAL BANK LTD.</option>
            <option value='NMCB'>THE NASIK MERCHANTS COOPERATIVE BANK LTD</option>
            <option value='NMCX'>NAVI MUMBAI CO-OPERATIVE BANK LIMITED</option>
            <option value='NNCX'>THE NARODA NAGRIK CO-OPERATIVE BANK LTD</option>
            <option value='NNSB'>NUTAN NAGARIK SAHAKARI BANK LTD</option>
            <option value='NOBX'>NOBLE COOPERATIVE BANK LTD</option>
            <option value='NOIX'>NOIDA COMMERCIAL CO-OPERATIVE BAK LTD</option>
            <option value='NOSC'>THE BANK OF NOVA SCOTIA</option>
            <option value='NPCX'>THE NADIAD PEOPLES CO OP BANK LTD</option>
            <option value='NPKX'>NASHIK ZILHA SARKARI & PARISHAD KARMACHARI SB NMT</option>
            <option value='NRDX'>THE NASIK ROAD DEOLALI VYAPARI SAHAKARI BANK LTD</option>
            <option value='NSBB'>NAGARIK SAHAKARI BANK LTD BHIWANDI</option>
            <option value='NSBX'>NAGRIK SAHAKARI BANK LTD LUCKNOW</option>
            <option value='NSCX'>NAGALAND STATE COOPERATIVE BANK LTD</option>
            <option value='NSGX'>NAGAR SAHAKARI BANK LTD. GORAKHPUR</option>
            <option value='NSMX'>NAGARIK SAMABAY BANK LTD</option>
            <option value='NSPB'>NSDL PAYMENTS BANK</option>
            <option value='NSRX'>NAGRIK SAHAKARI BANK LTD</option>
            <option value='NTBL'>THE NAINITAL BANK LIMITED</option>
            <option value='NUBX'>THE NEW URBAN CO-OPERATIVE BANK LTD RAMPUR</option>
            <option value='NUCX'>NAVABHARAT CO-OP. URBAN BANK LTD.</option>
            <option value='NVCX'>NAVANAGARA URBAN CO-OPERATIVE BANK LTD.</option>
            <option value='NVSX'>NAGAR VIKAS SAHKARI BANK LTD</option>
            <option value='ODGB'>ODISHA GRAMYA BANK</option>
            <option value='OIBA'>DOHA BANK QSC</option>
            <option value='OMCX'>THE OJHAR MERCHANT'S CO-OP BANK LTD</option>
            <option value='ONSX'>OMKAR NAGREEYA SAHKARI BANK LTD</option>
            <option value='ORCB'>THE ODISHA STATE CO-OPERATIVE BANK LTD</option>
            <option value='OSMX'>OSMANABAD JANATA SAHAKARI BANK LTD</option>
            <option value='PABX'>PALLAVAN GRAMA BANK</option>
            <option value='PADX'>THE PADRA NAGAR NAGRIK SAHAKARI BANK LTD</option>
            <option value='PALX'>PALI URBAN CO OPERATIVE BANK LTD</option>
            <option value='PANX'>THE PANCHMAHAL DISTRICT CO OPERATIVE BANK LTD</option>
            <option value='PARX'>THE PARBHANI DISTRICT CENTRAL COOP BANK LTD</option>
            <option value='PASX'>PASCHIM BANGA GRAMIN BANK</option>
            <option value='PBGX'>PUDUVAI BHARATHIAR GRAMA BANK</option>
            <option value='PCBL'>PATAN CO-OPEARTIVE BANK LTD</option>
            <option value='PCBX'>PARSHWANATH CO-OPERATIVE BANK LTD</option>
            <option value='PCCX'>THE PANCHKULA CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='PCMX'>THE PANCHSHEEL MERCANTILE CO-OP BANK LTD</option>
            <option value='PCOX'>PEOPLES' CO-OPERATIVE BANK LTD</option>
            <option value='PCPX'>PIMPRI CHINCHWAD SAHAKARI BANK MARYADIT,PIMPRI</option>
            <option value='PCSX'>THE PONDICHERRY STATE CO-OP BANK LTD</option>
            <option value='PCTX'>PUNE CANTONMENT SAHAKARI BANK LTD</option>
            <option value='PCUX'>THE POCHAMPALLY COOPERATIVE URBAN BANK LTD</option>
            <option value='PDCX'>PUNE DISTRICT CENTRAL CO-OPERATIVE BANK LTD.</option>
            <option value='PDSX'>PRIYADARSHANI NAGARI SAHAKARI BANK LTD JALNA.</option>
            <option value='PDUX'>THE PANDHARPUR URBAN CO-OP BANK LTD</option>
            <option value='PGBX'>PRAGATHI KRISHNA GRAMIN BANK</option>
            <option value='PGCX'>PROGRESSIVE CO-OPERATIVE BANK LIMITED</option>
            <option value='PGRX'>PROGRESSIVE URBAN CO-OPERATIVE BANK LTD</option>
            <option value='PJSB'>GOPINATH PATIL PARSIK JANATA SAHAKARI BANK</option>
            <option value='PKBX'>THE PANCHKULA URBAN CO-OPERATIVE BANK LMITED</option>
            <option value='PLUX'>PALUS SAHAKARI BANK LTD</option>
            <option value='PMCX'>THE PIMPALGAON MERCHANTS CO-OP BANK LTD</option>
            <option value='PMEC'>PRIME CO-OPERATIVE BANK LTD.</option>
            <option value='PMNX'>PRAGATI MAHILA NAGRIK SAHAKARI BANK LTD BHILAI</option>
            <option value='PNCX'>THE PANIPAT URBAN COOPERATIVE BANK LTD</option>
            <option value='PNMX'>PUNE MERCHANT'S CO-OPERATIVE BANK LTD</option>
            <option value='PNSX'>POORNAWADI NAGRIK SAHAKARI BANK M.BEED.</option>
            <option value='PPBX'>PUNE PEOPLE'S CO-OP.BANK LTD .</option>
            <option value='PPCX'>THE PACHORA PEOPLES CO-OP. BANK LTD.PACHORA</option>
            <option value='PREX'>PRERANA CO-OP BANK LTD.</option>
            <option value='PROX'>PROGRESSIVE MERCANTILE CO-OPERATIVE BANK LTD</option>
            <option value='PRPX'>PARASPAR SAHAYAK CO-OP BANK</option>
            <option value='PSBX'>PRAGATI SAHAKARI BANK LTD</option>
            <option value='PSCX'>THE PUNJAB STATE COOPERATIVE BANK LTD</option>
            <option value='PSIB'>PUNJAB & SIND BANK</option>
            <option value='PSRX'>SRI POTTI SRIRAMULU NELLORE DCCB</option>
            <option value='PSSX'>THE PRATHAMIK SHIKSHAK SAHAKARI BANK LTD</option>
            <option value='PTCX'>THE PATIALA CENTRAL COOPERATIVE BANK LTD.</option>
            <option value='PTNX'>THE PATAN URBAN CO-OP BANK LTD PATAN</option>
            <option value='PTSX'>PATAN NAGARIK SAHAKARI BANK LTD</option>
            <option value='PUBX'>PEOPLES URBAN CO-OPERATIVE BANK LTD</option>
            <option value='PUCX'>PUSAD URBAN CO-OP BANK LTD.</option>
            <option value='PUDX'>PUDUKOTTAI DISTRICT CENTRAL COOPERATIVE BANK LTD</option>
            <option value='PUGX'>PUNJAB GRAMIN BANK</option>
            <option value='PUNB'>PUNJAB NATIONAL BANK</option>
            <option value='PUNX'>PUNE URBAN CO-OPERATIVE BANK LTD</option>
            <option value='PUSX'>PURASAWALKAM CO-OPERATIVE BANK</option>
            <option value='PVCX'>PURVANCHAL COOP BANK LTD GAZIPUR</option>
            <option value='PYTM'>PAYTM PAYMENTS BANK LTD</option>
            <option value='QUCX'>THE QUILON CO-OPERATIVE URBAN BANK LTD</option>
            <option value='RABO'>RABOBANK INTERNATIONAL</option>
            <option value='RACX'>RAJKOT COMMERCIAL COOPERATIVE BANK LTD</option>
            <option value='RAEX'>THE RAILWAY EMPLOYEES COOPERATIVE BANK LTD</option>
            <option value='RAJX'>THE RAJSAMAND URBAN CO OP BANK LTD</option>
            <option value='RAKX'>RAJKOT PEOPLES COOPERATIVE BANK LTD</option>
            <option value='RAMX'>THE RAJPUTANA MAHILA URBAN CO OPERATIVE BAK LTD</option>
            <option value='RANX'>THE RANDER PEOPLES COOP BANK LTD</option>
            <option value='RATN'>RATNAKAR BANK</option>
            <option value='RAUX'>RAJLAXMI URBAN CO OPERATIVE BANK LTD</option>
            <option value='RBBX'>RAJARAMBAPU SAHAKARI BANK LTD PETH</option>
            <option value='RBCX'>RESERVE BANK EMPLOYEES COOPERATIVE BANK LIMITED</option>
            <option value='RCCX'>THE ROPAR CENTRAL COOPERATIVE BANK</option>
            <option value='RCDX'>THE RAMANATHAPURAM DISTRICT CENTRAL CO OP BANK LTD</option>
            <option value='RCUX'>RAJADHANI CO OP URBAN BANK LTD</option>
            <option value='RDCX'>RAIGAD DISTRICT CENTRAL CO-OP BANK LTD</option>
            <option value='RDNX'>COL RD NIKAM SAINIK SAHAKARI BANK LTD</option>
            <option value='REBX'>RENDAL SAHAKARI BANK LTD RENDAL</option>
            <option value='RGSX'>RAJGURUNAGAR SAHAKARI BANK LTD</option>
            <option value='RHMX'>THE RAJ LAXMI MAHILA URBAN COOP BANK LTD JAIPUR</option>
            <option value='RJCX'>RAIGANJ CENTRAL CO OP BANK LTD</option>
            <option value='RJTX'>SHRI RAJKOT DISTRICT CO OP BANK LTD</option>
            <option value='RLUX'>RANILAXMIBAI URBAN CO-OPERATIVE BANK LTD</option>
            <option value='RNGX'>RANGA REDDY COOP URBAN BANK LTD</option>
            <option value='RNSB'>RAJKOT NAGARIK SAHAKARI BANK LTD.</option>
            <option value='RNSX'>RAJDHANI NAGAR SAHKARI BANK LTD</option>
            <option value='RRSX'>RAMRAJYA SAHAKARI BANK LTD</option>
            <option value='RSCB'>THE RAJASTHAN STATE CO-OPERATIVE BANK LTD</option>
            <option value='RSSX'>RAJARSHI SHAHU SAHAKARI BANK LTD</option>
            <option value='RSVX'>RAJARSHI SHAHU GOVT SERVANTS COOPERATIVE BANK KOLH</option>
            <option value='RUCX'>THE RAJASTHAN URBAN COOP BANK LTD</option>
            <option value='RUMX'>THE RAIPUR URBAN MERCANTILE CO OP BANK LTD</option>
            <option value='RZSX'>RAMPUR ZILA SAHKARI BANK LTD</option>
            <option value='SABX'>SARASWATI SAHAKARI BANK LTD</option>
            <option value='SACB'>SHRI ARIHANT CO-OPERATIVE BANK LTD</option>
            <option value='SACX'>THE SARVODAYA COOP BANK LTD MUMBAI</option>
            <option value='SADX'>THE SABARKANTHA DISTRICT CENTRAL COOP BANK LTD</option>
            <option value='SAGX'>SAURASHTRA GRAMIN BANK</option>
            <option value='SAHX'>SADHANA SAHAKARI BANK LTD PUNE</option>
            <option value='SAMX'>SAMATA SAHAKARI BANK LTD</option>
            <option value='SAPX'>SHRIMANT MALOJIRAJE SAHAKARI BANK LTD,PHALTAN</option>
            <option value='SARX'>SARDARGANJ MERCANTILE CO OPERATIVE BANK LTD</option>
            <option value='SASA'>THE SAHYADRI SAHAKARI BANK LTD</option>
            <option value='SASX'>THE S.A.S NAGAR CENTRAL COOPERATIVE BANK LTD.</option>
            <option value='SATX'>ADV.SHAMRAOJI SHINDE SATYASHODHAK BANK LTD</option>
            <option value='SAUX'>THE SAIDAPET CO-OP URBAN BANK LTD</option>
            <option value='SAVX'>SARDAR VALLABHBHAI SAHAKARI BANK LTD</option>
            <option value='SBCX'>THE SULTAN'S BATTERY CO-OPERATIVE URBAN BANK LTD</option>
            <option value='SBIN'>STATE BANK OF INDIA</option>
            <option value='SBLD'>SONALI BANK LIMITED</option>
            <option value='SBLX'>SHUBHALAKSHMI MAHILA CO OP BANK LTD</option>
            <option value='SBMX'>SRI BANASHANKARI MAHILA COOPERATIVE BANK LTD</option>
            <option value='SBNX'>SHREE BHAVNAGAR NAGRIK SAHAKARI BANK LTD</option>
            <option value='SBPX'>SARDAR BHILADWALA PARDI PEOPLE'S COOP BANK LTD</option>
            <option value='SBUJ'>SHRI BHARAT URBAN CO OP BANK LTD JAYSINGPUR</option>
            <option value='SBUX'>SHREE BALAJI URBAN CO OPERATIVE BANK LTD</option>
            <option value='SCBL'>STANDARD CHARTERED BANK</option>
            <option value='SCBX'>THE SIROHI CENTRAL COOPERATIVE BANK LTD</option>
            <option value='SCCX'>THE SALEM DISTRICT CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='SCIX'>THE SOCIAL CO-OPERATIVE BANK LTD</option>
            <option value='SCNX'>SHRI CHHANI NAGRIK SAHKARI BANK LTD</option>
            <option value='SCOB'>SAMRUDDHI CO OP BANK LTD NAGPUR</option>
            <option value='SCPX'>THE SANGRUR CENTRAL CO-OPERATIVE BANK LTD.</option>
            <option value='SCSX'>SREE CHARAN SOUHARDHA CO-OP BANK LTD</option>
            <option value='SCUX'>SUDHA CO-OPERATIVE URBAN BANK LTD</option>
            <option value='SDBX'>SAMATA CO-OPERATIVE DEVELOPMENT BANK LTD</option>
            <option value='SDCB'>THE SURAT DISTRICT CO-OP BANK</option>
            <option value='SDCX'>SINDHUDURG DISTRICT CENTRAL COOPERATIVE BANK LTD</option>
            <option value='SDHX'>SOLAPUR SIDDHESHWAR SAHAKARI BANK LTD</option>
            <option value='SDSX'>THE SATARA DISTRICT CENTRAL CO-OPERATIVE BANK LTD.</option>
            <option value='SDUX'>SRI SUDHA COOPERATIVE BANK LTD</option>
            <option value='SEUX'>THE SEVALIA URBAN CO-OP BANK LTD</option>
            <option value='SEWX'>SHRI MAHILA SEWA SAHAKARI BANK LTD</option>
            <option value='SGCX'>SANGLI DISTRICT CENTRAL CO-OP BANK LTD</option>
            <option value='SGSX'>SADGURU NAGRIK SAHAKARI BANK MARYADIT</option>
            <option value='SHAX'>SHANKAR NAGARI SAHAKARI BANK LTD</option>
            <option value='SHBK'>SHINHAN BANK</option>
            <option value='SHBX'>SHRIRAM URBAN CO-OPERATIVE BANK LTD</option>
            <option value='SHCX'>THE SHIMLA URBAN COOP BANK LTD</option>
            <option value='SHEX'>SHREE SAMARTH SAHAKARI BANK LTD NASHIK</option>
            <option value='SHGX'>SHRI GANESH SAHAKARI BANK LTD</option>
            <option value='SHIX'>SHIVALIK MERCANTILE CO-OP BANK LTD</option>
            <option value='SHKX'>SHIKSHAK SAHAKARI BANK LTD</option>
            <option value='SHMX'>THE SANGHAMITRA CO OP URBAN BANK LTD</option>
            <option value='SHOX'>SIHOR MERCANTILE CO-OPERATIVE BANK LTD</option>
            <option value='SHRX'>SHREE MAHESH CO-OPERATIVE BANK LTD NASHIK</option>
            <option value='SHSX'>SHARAD SAHAKARI BANK LTD</option>
            <option value='SIBL'>SOUTH INDIAN BANK</option>
            <option value='SIHX'>SIHOR NAGARIK SAHAKARI BANK LTD</option>
            <option value='SJSX'>SOLAPUR JANATA SAHAKARI BANK LTD.</option>
            <option value='SKCX'>SHRIKRISHNA COOPERATIVE BANK LTD UMRER</option>
            <option value='SKNX'>THE SANKHEDA NAGARIK SAHAKARI BANK LTD</option>
            <option value='SKUX'>S S L S A KURUNDWAD URBAN BANK LTD</option>
            <option value='SLCX'>SHREE LAXMI CO-OPERATIVE BANK LTD PUNE</option>
            <option value='SMBC'>SUMITOMO MITSUI BANKING CORPORATION</option>
            <option value='SMBX'>SAMPADA SAHAKARI BANK LTD PUNE</option>
            <option value='SMNX'>SHREE MAHUVA NAGRIK SAHAKARI BANK LTD</option>
            <option value='SMUX'>SHRI MAHAVIR URBAN CO-OPERATIVE BANK LTD</option>
            <option value='SMVC'>SIR M VISVESVARAYA CO-OPERATIVE BANK LTD</option>
            <option value='SMWX'>SREE SUBRAMANYESWARA CO-OPERATIVE BANK LTD</option>
            <option value='SNAX'>SARASPUR NAGARIK CO OPERATIVE BANK LTD</option>
            <option value='SNBX'>THE SARVODAYA NAGRIK SAHKARI BANK LTD</option>
            <option value='SNCX'>THE SONEPAT URBAN CO-OP.BANK LTD.</option>
            <option value='SNDX'>THE SIND COOPERATIVE URBAN BANK LTD</option>
            <option value='SNGX'>THE SARANGPUR CO-OPERATIVE BANK LTD</option>
            <option value='SNKX'>SHRAMIK NAGRIK SAHKARI BANK LTD</option>
            <option value='SNPX'>THE SONEPAT CENTRAL CO OPERATIVE BANK LTD</option>
            <option value='SNSX'>SMRITI NAGRIK SAHAKARI BANK</option>
            <option value='SOBX'>THE SECUNDERABAD CO OP URBAN BANK LIMITED</option>
            <option value='SOGE'>SOCIETE GENERALE</option>
            <option value='SOLX'>THE SOLAPUR DISTRICT CENTRAL CO-OP. BANK LTD</option>
            <option value='SONX'>SONBHADRA NAGAR SAHKARI BANK LTD</option>
            <option value='SPBX'>SAPTAGIRI GRAMEENA BANK</option>
            <option value='SPCB'>THE SURAT PEOPLE'S CO-OP. BANK LTD.</option>
            <option value='SPCX'>THE SHIRPUR PEOPLES CO-OP BANK LTD</option>
            <option value='SPNX'>SHREE PANCHGANGA NAGARI SAHAKARI BANK LTD</option>
            <option value='SPSX'>SANDUR PATTANA SOUHARDA SAHAKARI BANK NIYAMITHA</option>
            <option value='SPTX'>SHRIPATRAODADA SAHAKARI BANK LTD</option>
            <option value='SRCB'>SARASWAT BANK</option>
            <option value='SRCX'>SHREE BHARAT COOP BANK LTD</option>
            <option value='SREX'>SHREE COOP BANK LTD</option>
            <option value='SRHX'>SHREE DHARATI COOP BANK LTD</option>
            <option value='SRSX'>SHARAD NAGARI SAHAKARI BANK LTD</option>
            <option value='SSBL'>THE SATARA SHAKARI BANK LTD</option>
            <option value='SSBX'>SHIVDAULAT SAHAKARI BANK LTD.</option>
            <option value='SSDX'>SUCO SOUHARDA SAHAKARI BANK</option>
            <option value='SSKX'>SADHANA SAHAKARI BANK LTD</option>
            <option value='SSLX'>THE SOLAPUR SOCIAL URBAN CO-OP BANK LTD</option>
            <option value='SSOX'>SAMARTH SAHAKARI BANK LTD. SOLAPUR</option>
            <option value='SSSX'>SANT SOPANKAKA SAHAKARI BANK LTD.</option>
            <option value='SSWX'>SUNDARLAL SAWAJI URBAN CO-OP BANK LTD</option>
            <option value='STCB'>SBM BANK (MAURITIUS) LTD</option>
            <option value='STCX'>STATE TRANSPORT CO-OP BANK LTD</option>
            <option value='STRX'>STERLING URBAN CO OPERATIVE BANK LTD</option>
            <option value='SUBX'>SARVA UP GRAMIN BANK</option>
            <option value='SUCX'>SANGLI URBAN CO-OPERATIVE BANK LTD</option>
            <option value='SULX'>SULAIMANI COOP BANK LTD</option>
            <option value='SUMX'>THE SURAT MERCANTILE COOP BANK LTD</option>
            <option value='SUNB'>SURAT NATIONAL CO-OP. BANK LTD</option>
            <option value='SURY'>SURYODAY SMALL FINANCE BANK LIMITED</option>
            <option value='SUTB'>THE SUTEX CO-OP.BANK LTD.</option>
            <option value='SUVX'>SUVARNAYUG SAHAKARI BANK LTD.</option>
            <option value='SVCB'>SVC CO-OPERATIVE BANK LTD</option>
            <option value='SVCX'>SARVODAYA COMMERICAL CO OP BANK LTD</option>
            <option value='SVGX'>THE SIVAGANGAI DISTRICT CENTRAL COOP BANK LTD</option>
            <option value='SVNX'>SHIVAJI NAGARI SAHAKARI BANK LTD</option>
            <option value='SVOX'>THE SARVODAYA SAHAKARI BANK LTD</option>
            <option value='SVRX'>SHREE VARDHAMAN SAHAKARI BANK LTD.</option>
            <option value='SVSX'>SHRI VINAYAK SAHAKARI BANK LTD</option>
            <option value='SWMX'>SAWAI MADHOPUR URBAN CO OPERATIVE BANK LTD</option>
            <option value='SWSX'>SHREE WARANA SAHAKARI BANK LTD.</option>
            <option value='TACX'>THE ADINATH COOP BANK LTD</option>
            <option value='TADX'>THE ANANTAPUR DISTRICT COOPERATIVE CENTRAL BANK LT</option>
            <option value='TAMX'>THE ANAND MERCANTILE COOPERATIVE BANK LIMITED</option>
            <option value='TASX'>THE ANNASAHEB SAVANT CO-OP URBAN BANK MAHAD LTD</option>
            <option value='TBCX'>THE BHARATH CO-OPERATIVE BANK LTD</option>
            <option value='TBMX'>THE BAPUNAGAR MAHILA COOP BANK LTD</option>
            <option value='TBSB'>THANE BHARAT SAHAKARI BANK LTD.</option>
            <option value='TBSX'>THE BIHAR STATE CO OPERATIVE BANK LTD</option>
            <option value='TCBX'>THE CO-OPERATIVE BANK OF RAJKOT LTD</option>
            <option value='TCCX'>THE COMMERCIAL COOPERATIVE BANK LIMITED</option>
            <option value='TCPX'>THE TAMILNADU CIRCLE POSTAL CO-OP BANK LTD</option>
            <option value='TCUB'>THE TRIVANDRUM CO-OPERATIVE URBAN BANK LTD</option>
            <option value='TCUX'>TIRUVALLUR CO-OPERATIVE URBAN BANK LIMITED</option>
            <option value='TDCB'>THE THANE DIST. CENTRAL CO-OP. BANK LTD</option>
            <option value='TDIX'>THE DISTRICT CO-OP CENTRAL BANK LTD KAKINADA</option>
            <option value='TDMX'>THE DHANERA MERCANTILE CO OP BANK LTD</option>
            <option value='TDSX'>THE NIZAMABAD DISTRICT CO-OP CENTRAL BANK LTD</option>
            <option value='TECX'>THE EENADU COOP URBAN BANK LTD</option>
            <option value='TEHX'>TEHRI GARHWAL ZILA SAHKARI BANK LTD</option>
            <option value='TESX'>THE TEXTILE CO OPERATIVE BANK OF SURAT LTD</option>
            <option value='TETX'>TEXTILE TRADERS CO-OPERATIVE BANK LIMITED</option>
            <option value='TGBX'>TRIPURA GRAMIN BANK</option>
            <option value='TGCG'>THE GOKAK URBAN CO OP CREDIT BANK LTD</option>
            <option value='TGCX'>TAMLUK-GHATAL CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='TGMB'>TUMKUR GRAIN MERCHANT'S CO-OPERATE BANK LTD</option>
            <option value='TGNX'>THE GANDHINAGAR NAGRIK COOPERATIVE BANK LTD</option>
            <option value='TGUX'>THE GANDHINAGAR URBAN COOP BANK LTD</option>
            <option value='THCX'>THE HOOGHLY COOPERATIVE CREDIT BANK LTD</option>
            <option value='THOX'>THE THOOTHUKUDI DISTRICT CENTRAL COOP BANK LTD</option>
            <option value='TIDX'>THE THIRUVANNAMALAI DISTRICT CENTRAL COOP BANK LTD</option>
            <option value='TIRX'>THE TIRUNELVELI DISTRICT CENTRAL CO-OP BANK LTD</option>
            <option value='TJCX'>THANJAVUR CENTRAL CO OP BANK LTD</option>
            <option value='TJNX'>THE JAMNAGAR MAHILA SAHAKARI BANK LTD</option>
            <option value='TJSB'>TJSB SAHAKARI BANK LTD</option>
            <option value='TKCX'>THE KAKATIYA COOPERATIVE URBAN BANK LTD</option>
            <option value='TKTX'>THE KOTTAKKAL COOPERATIVE URBAN BANK LTD</option>
            <option value='TKUX'>THE KARAN URBAN CO-OPERATIVE BANK LTD</option>
            <option value='TMAX'>THE MADANAPALLE COOPERATIVE TOWN BANK LTD</option>
            <option value='TMBL'>TAMILNAD MERCANTILE BANK LTD.</option>
            <option value='TMNX'>THE MAHANAGAR COOPERATIVE URBAN BANK LTD</option>
            <option value='TMSC'>THE MYSORE SILK CLOTH MERCHANTS CO OP BANK LTD</option>
            <option value='TMSX'>THE MODASA NAGARIK SAHKARI BANK LTD</option>
            <option value='TMTX'>THE MANGALORE COOPERATIVE TOWN BANK LTD</option>
            <option value='TNIX'>THE TAMILNADU INDUSTRIAL COOPERATIVE BANK LTD</option>
            <option value='TNKX'>THE NEELA KRISHNA COOPERATIVE URBAN BANK LTD</option>
            <option value='TNMX'>THE NANDED MERCHANTS COOP BANK LTD NANDED</option>
            <option value='TNSC'>TAMILNADU STATE APEX CO-OP BANK LTD</option>
            <option value='TNUX'>THE NANDURA URBAN COOP BANK LTD NANDURA</option>
            <option value='TOCX'>THE OTTAPALAM COOPERATIVE URBAN BANK LTD</option>
            <option value='TPDX'>THE PRAKASAM DISTRICT CO-OP CENTRAL BANK LTD</option>
            <option value='TPSX'>TRIPURA STATE COOPERATIVE BANK LTD</option>
            <option value='TRAX'>TRANSPORT CO-OPERATIVE BANK LTD</option>
            <option value='TRDX'>THE TIRUCHIRAPALLI DIST. CENT COOPERATIVE BANK LTD</option>
            <option value='TSAB'>TELANGANA STATE CO OPERATIVE APEX BANK LTD</option>
            <option value='TSCX'>THE SANTRAGACHI CO OPERATIVE BANK LTD</option>
            <option value='TSDX'>THE DISTRICT COOPERATIVE CENTRAL BANK LTD SRIKAKUL</option>
            <option value='TSIX'>THE SHILLONG COOPERATIVE URBAN BANK LTD</option>
            <option value='TSNX'>THE SHORANUR CO OPERATIVE URBAN BANK LTD</option>
            <option value='TSUX'>THE SAURASHTRA COOPERATIVE BANK LTD</option>
            <option value='TTCX'>THE TARN TARAN CENTRAL COOPERATIVE BANK LTD</option>
            <option value='TTLX'>TEXTILE CO-OPERATIVE BANK LTD</option>
            <option value='TTUX'>THE TIRUR URBAN COOPERATIVE BANK LTD</option>
            <option value='TUBX'>THE TRICHUR URBAN CO-OPERATIVE BANK LTD</option>
            <option value='TUCL'>THE UNION CO OP BANK LTD MAHINAGAR</option>
            <option value='TUCX'>TIRUPATI URBAN CO-OP. BANK LTD.</option>
            <option value='TUDX'>THE URBAN COOPERATIVE BANK LTD DHARANGAON</option>
            <option value='TUMX'>THE UDAIPUR MAHILA URBAN CO-OP BANK LTD</option>
            <option value='TUNX'>THE UNION CO-OPERATIVE BANK LTD</option>
            <option value='TUOX'>THE URBAN COOPERATIVE BANK LTD SAHARANPUR</option>
            <option value='TURX'>THE TURA URBAN COOP BANK LTD</option>
            <option value='TVBX'>THE VELLALA CO-OPERATIVE BANK LIMITED</option>
            <option value='TVDX'>THE DISTRICT COOP CENTRAL BANK LTD VIZIANAGARAM</option>
            <option value='TVPX'>THE VERAVAL PEOPLES COOP BANK LTD</option>
            <option value='TYCX'>SHREE THYAGARAJA CO-OPERATIVE BANK LIMITED</option>
            <option value='UBBX'>URBAN COOPERATIVE BANK LTD BASTI</option>
            <option value='UBGX'>UTTAR BIHAR GRAMIN BANK</option>
            <option value='UBIN'>UNION BANK OF INDIA</option>
            <option value='UCBA'>UCO BANK</option>
            <option value='UCBS'>THE UTKAL COOPERATIVE BANKING SOCIETY LTD</option>
            <option value='UCBX'>URBAN CO-OPERATIVE BANK LTD. BAREILLY</option>
            <option value='UCCX'>THE UDAIPUR CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='UCDX'>URBAN CO-OPERATIVE BANK LTD DEHRADUN</option>
            <option value='UCUX'>UNIVERSAL CO-OPERATIVE URBAN BANK LTD.</option>
            <option value='UGBX'>UTKAL GRAMEEN BANK</option>
            <option value='UKGX'>UTTARBANGA KSHETRIYA GRAMIN BANK</option>
            <option value='UMAX'>UMA CO OPERATIVE BANK LTD</option>
            <option value='UMCX'>THE UMRETH URBAN CO OPERATIVE BANK LTD</option>
            <option value='UMSX'>THE UDAIPUR MAHILA SAMRIDHI URBAN CO-OP BANK LTD</option>
            <option value='UMUX'>UMIYA URBAN CO OPERATIVE BANK LTD</option>
            <option value='UNIX'>THE UNITED CO OPERATIVE BANK LTD</option>
            <option value='UNMX'>UNITED MERCANTILE CO OPERATIVE BANK LTD</option>
            <option value='UNSX'>THE UNAVA NAGRIK SAHAKARI BANK LTD</option>
            <option value='UPCX'>UTTAR PRADESH CO-OPERATIVE BANK LTD</option>
            <option value='URCX'>URBAN CO OPERATIVA BANK LTD SIDDHARTHNAGAR</option>
            <option value='UROX'>THE URBAN CO-OPERATIVE BANK LTD ROURKELA</option>
            <option value='USFB'>UJJIVAN SMALL FINANCE BANK LIMITED</option>
            <option value='UTCX'>UTTRAKHAND COOPERATIVE BANK LTD</option>
            <option value='UTGX'>UTTARAKHAND GRAMIN BANK</option>
            <option value='UTIB'>AXIS BANK</option>
            <option value='UTKS'>UTKARSH SMALL FINANCE BANK LTD</option>
            <option value='UTKX'>UTTARAKHAND STATE COOPERATIVE BANK LTD</option>
            <option value='UTZX'>UTTARKASHI ZILA SAHKARI BANK LTD</option>
            <option value='UUCX'>THE UDAIPUR URBAN CO-OP BANK LTD</option>
            <option value='VADX'>VALSAD DISTRICT CENTRAL CO-OP BANK LTD</option>
            <option value='VAIX'>VAISHYA SAHAKARI BANK LTD MUMBAI</option>
            <option value='VANX'>VAISHYA NAGARI SAHAKARI BANK LTD PARBHANI</option>
            <option value='VARA'>THE VARACHHA CO-OP BANK LTD</option>
            <option value='VASX'>VYAPARIK AUDHYOGIK SAHAKARI BANK KTD</option>
            <option value='VCAX'>THE VAISH CO OPERATIVE ADARSH BANK LTD</option>
            <option value='VCBX'>VISHWAS CO-OP BANK LTD.</option>
            <option value='VCCX'>SHRI VEERSHAIV CO-OP BANK LTD.</option>
            <option value='VCNB'>THE VAISH CO-OPERATIVE NEW BANK LTD</option>
            <option value='VCOX'>THE VITA MERCHANTS COOP BANK LTD</option>
            <option value='VDCX'>THE VILLUPURAM DISTRICT CENTRAL CO-OP BANK LTD</option>
            <option value='VDYX'>VIDYANAND CO-OP. BANK LTD</option>
            <option value='VEDX'>THE VELLORE DISTRICT CENTRAL CO-OP BANK LTD.</option>
            <option value='VERX'>THE VERAVAL MERCANTILE CO-OPERATIVE BANK LTD</option>
            <option value='VGBX'>VANANCHAL GRAMIN BANK</option>
            <option value='VICX'>VIJAY COMMERCIAL CO OPERATIVE BANK LTD</option>
            <option value='VIDX'>VIDYASAGAR CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='VIJX'>THE VIJAY CO OPERATIVE BANK LTD</option>
            <option value='VIKX'>VIKRAMADITYA NAGRIK SAHAKARI BANK</option>
            <option value='VIRX'>THE VIRUDHUNAGAR DISTRICT CENTRAL CO-OP BANK LTD</option>
            <option value='VISX'>THE VISAKHAPATNAM CO-OPERATIVE BANK LTD</option>
            <option value='VJSX'>VASAI JANATA SAHAKARI BANK LTD</option>
            <option value='VKCX'>VIMA KAMGAR CO OPERATIVE BANK LIMITED</option>
            <option value='VKSX'>VIKAS SAHAKARI BANK LIMITED SOLAPUR</option>
            <option value='VMCX'>VARDHAMAN (MAHILA) CO-OP. URBAN BANK LTD.</option>
            <option value='VMMX'>THE VAIJAPUR MERCHANTS COOP BANK LTD</option>
            <option value='VMUX'>VIDARBHA MERCHANTS URBAN CO-OP BANK LTD</option>
            <option value='VNSX'>VIVEKANAND NAGRIK SAHKARI BANK MYDT</option>
            <option value='VSBL'>THE VISHWESHWAR SAHAKARI BANK LTD</option>
            <option value='VSBX'>VIDYA SAHAKARI BANK LTD</option>
            <option value='VSCX'>VIKAS SOUHARDA CO-OPERATIVE BANK LTD</option>
            <option value='VSSX'>VEERASHAIVA SAHAKARI BANK LTD</option>
            <option value='VUCX'>THE VAIDYANATH URBAN COOP BANK LTD</option>
            <option value='VVCX'>THE VALLABH VIDYANAGAR COMMERCIAL BANK LTD</option>
            <option value='VVSB'>VASAI VIKAS SAHAKARI BANK LTD</option>
            <option value='VYAX'>VYAVSAYAK SAHKARI BANK LTD</option>
            <option value='VYPX'>VYAPARI SAHAKARI BANK MARYADIT SOLAPUR</option>
            <option value='WACX'>THE WAGHODIA URBAN COOP BANK LTD</option>
            <option value='WAIX'>THE WAI URBAN CO OP BANK LTD</option>
            <option value='WARX'>THE WARANGAL DISTRICT COOPERATIVE CENTRAL BANK LTD</option>
            <option value='WAUX'>WARDHAMAN URBAN CO-OPERATIVE BANK LTD NAGPUR</option>
            <option value='WBSC'>THE WEST BENGAL STATE CO-OP BANK LTD</option>
            <option value='WCBX'>THE WOMEN'S CO-OPERATIVE BANK LTD</option>
            <option value='WKGX'>VIDHARBHA KOKAN GRAMIN BANK</option>
            <option value='WUCX'>THE WASHIM URBAN CO-OPERATIVE BANK LTD.</option>
            <option value='XJKG'>J&K GRAMEEN BANK ACH</option>
            <option value='YADX'>YAVATMAL DISTRICT CENTRAL CO-OPERATIVE BANK LTD</option>
            <option value='YAVX'>THE YAVATMAL URBAN CO.OP. BANK LTD YAVATMAL</option>
            <option value='YCBX'>THE YASHWANT CO-OP BANK LTD</option>
            <option value='YESB'>YES BANK</option>
            <option value='YLNX'>YADAGIRI LAKSHMI NARSIMHA SWAMY COOP URBAN BANK</option>
            <option value='ZBBX'>ZILA SAHKARI BANK LTD BULANDSHAHAR</option>
            <option value='ZBSX'>MATHURA ZILA SAHKARI BANK LTD MATHURA</option>
            <option value='ZCBL'>THE ZOROASTRIAN CO-OPERATIVE BANK LTD</option>
            <option value='ZIBX'>ZILA SAHKARI BANK LTD.BAREILLY</option>
            <option value='ZILX'>ZILA SAHKARI BANK LTD UNNAO</option>
            <option value='ZIMX'>ZILA SAHKARI BANK LTD MIRZAPUR</option>
            <option value='ZMMX'>ZILA SAHKARI BANK LTD MORADABAD</option>
            <option value='ZSAX'>ZILA SAHKARI BANK LTD MAU</option>
            <option value='ZSBL'>ZILA SAHKARI BANK LTD GHAZIABAD</option>
            <option value='ZSBX'>ZILA SAHAKARI BANK LTD BIJNOR</option>
            <option value='ZSGX'>ZILA SAHKARI BANK LTD GARHWAL KOTDWAR</option>
            <option value='ZSHX'>ZILA SAHAKARI BANK LTD HARIDWAR</option>
            <option value='ZSJX'>ZILA SAHKARI BANK LTD JHANSI</option>
            <option value='ZSLX'>ZILA SAHAKARI BANK LTD LAKHIMPUR KHERI</option>
            <option value='ZSMX'>ZILA SAHAKARI BANK LTD MEERUT</option>
            <option value='NPPX'>NABAGRAM PEOPLES CO OPERATIVE CREDIT BANK LTD</option>
            <option value='BNTX'>THE BISHNUPUR TOWN COOPERATIVE BANK LIMITED</option>
            <option value='DHSX'>THE DAVANAGERE HARIHARA URBAN SAHAKARA BANK NIYAMITHA</option>
            <option value='ELRX'>The Eluru Co-operative Urban Bank Ltd</option>
            <option value='JAPX'>JAMPETA CO-OPERATIVE URBAN BANK LTD</option>
            <option value='MORX'>SHREE MORBI NAGRIK SAHAKARI BANK LTD</option>
            <option value='MVTX'>THE MUVATTUPUZHA URBAN CO-OPERATIVE BANK LTD</option>
            <option value='TCTX'>THE COASTAL URBAN CO-OPERATIVE BANK LTD</option>
            <option value='VSMX'>VAIJANATH APPASARAF MARATHWADA NAGARISAHAKARI BANK</option>
            <option value='BKTX'>The Bankura Town Cooperative Bank Limited</option>
            <option value='AGEX'>AGS EMPLOYEES CO OPERATIVE BANK LTD</option>
            <option value='HNSX'>THE HARIJ NAGRIK SAHAKARI BANK LTD HARIJ</option>
            <option value='SNMX'>SANMITRA MAHILA NAGARI SAHKARI BANK MARYADIT</option>
            <option value='STNX'>THE SANTRAMPUR URBAN CO OP BANK LIMITED</option>
            <option value='TSVX'>THE SARVODAYA SAHAKARI BANK LTD MODASA</option>
            <option value='SSMX'>Shri Swami Samarth Sahakari Bank Ltd</option>
            <option value='VUVX'>THE VEPAR UDHYOG VIKAS SAHAKARI BANK LTD</option>

    </select>
  </div>
       
       
       <div class="form-group col-sm-4 flex-column d-flex">
    <label >Start Date</label>
   <input type="date" class="form-control-sm" required id="PjEligAmt" name="startDate" min="@DateTime.Now.AddDays(2).ToString("yyyy-MM-dd")"  placeholder="EMI Start Date">

  </div>
  
 
  
 
  </div>
   <div class="row justify-content-between text-left">
    <div class="form-group col-sm-4 flex-column d-flex">
    <label> Email Address</label>
   <input type="email" name="emailid" class="form-control-sm"/>
  </div>
  
 
  
 
  </div>
   
  
    <button type="submit" class="btn btn-primary">Submit</button>
 
  
  
</form>

@section scripts
{
    <script type="text/javascript">
       $(document).ready(function (){
            $('#dbtBank').select2();
        });
    
</script>
      
       
}

