@model AccountInfo

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int slno = 1;
    bool editable = (bool)ViewBag.Editable;
    var d = (List<KCCExistingLand>)ViewBag.LandDetails;
}
<div class="container">


   

    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <tr>
            <td colspan="6">
                <b>Basic Account Details</b>
            </td>
           
        </tr>
        <tr>
            
            <td><b>Branch</b></td>
            <td>@Model.BranchId</td>
            <td><b>Name</b></td>
            <td>@Model.AccountName</td>
            <td><b>Account No</b></td>
            <td>@Model.AccountNo</td>
           
        </tr>
        <tr>
            
            <td><b>Scheme</b></td>
            <td>@Model.ProductDesc</td>
            <td><b>Porduct Code</b></td>
            <td>@Model.AccountType @Model.IntCat</td>
            <td><b>IRAC</b></td>
            <td>@Model.IracStatus</td>
            
        </tr>
        <tr>
            
            <td><b>Outstanding</b></td>
            <td>@Model.CurrentOs</td>
            <td><b>Limit</b></td>
            <td>@Model.OdLimit</td>
            <td><b>Open Date</b></td>
            <td>@Model.AcOpenDate</td>
            
        </tr>
       
    </table>

   

    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td colspan="5">Details of Applicant</td>
                <td colspan="2"> @if (editable)
                    {
                        
                    }
                    </td>
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Name
                </th>
                <th>
                    CIF
                </th>
                <th>
                    Date of Birth
                </th>
                <th>
                    Occupation
                </th>
                <th>
                    Credit Score
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="applicantTable">
            @foreach(var x in Model.Applicants.Where(a=> a.Driving_Lic != "Deleted"))
            {

                <tr>
                    <td>@slno</td>
                    <td>@x.Applicant_First_Name @x.Applicant_Middle_Name @x.Applicant_Last_Name @x.Relationship @x.Guardian_Name</td>
                    <td>@x.ExistingCIF</td>
                    <td>@x.Date_Of_Birth</td>
                    <td>@x.Occupation</td>
                    <td>
                        @x.CreditScore
                        
                    </td>
                    <td>
                    <form action="/LoanFlow/EditApplicantExisting" method="post">
                        <input type="hidden" name="Id" value="@x.Id"/>
                        <button type="submit">Edit</button>
                    </form>
                       
                        
                    </td>
                </tr>
                slno++;
            }
        </tbody>

    </table>

   
   


    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <th colspan="9">Cibil Loan Details</th>
            </tr>
            <tr>
                <th>S.No.</th>
                <th>Member Name</th>
                <th>Account Type</th>
                <th>Open Date</th>
                <th>Close Date</th>
                <th>Current Outstanding</th>
                <th>Amount Overdue</th>
                <th>Status</th>
                <th>Status Date</th>
                
            </tr>
        </thead>
        <tbody id="cibilTable">
            @{
                int sn = 1;
            }
            @foreach (var item in (List<CibilAccounts>)ViewBag.Cibil)
           {
               <tr>
                   <td>
                       @sn
                   </td>
                   <td>
                       @item.member_name
                   </td>
                   <td>
                       @item.acc_type
                   </td>
                   <td>
                       @item.date_open
                   </td>
                   <td>
                       @item.date_close
                   </td>
                   <td>
                       @item.current_bal
                   </td>
                   <td>
                       @item.amt_overdue
                   </td>
                   <td>
                       @item.hist1
                   </td>
                   <td>
                       @item.hist1_date
                   </td>
               </tr>
               sn++;
           }
        </tbody>
    </table>

      <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td colspan="3"><b>Attached Documents</b></td>
                <td colspan="2">
                 
                    
                        <a href="#"  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#applicantModal">
 Add 
</a> 
                    

                    

</td>
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Description
                </th>
                <th>
                    UserId
                </th>
                <th>
                    File Download
                </th>
               
                <th></th>
            </tr>
        </thead>
        <tbody id="docTable">
            @{
                slno = 1;
            }
            @foreach(var x in (List<DocumentLoan>)ViewBag.Documents)
            {

                <tr>
                    <td>@slno</td>
                    <td>@x.Details </td>
                    <td>@x.UserId</td>
                    <td><a href="/@x.FilePath" target="_blank">Download</a></td>
                    
                    <td> 
                       
                    </td>
                </tr>
                slno++;
            }
        </tbody>

    </table>


    @if (Model.ProductDesc.Contains("KCC") )
    {
          <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <th colspan="2">Agri Land Details (Fetched From Bhuiyan)</th>
                <th colspan="4">
                   
                </th>
            </tr>
            <tr>
                <th>S.No.</th>
                <th>Description</th>
                <th>Irrigated Area</th>
                <th>Unirrigated Area</th>
                <th>Total Area </th>
                
                
                <th></th>
            </tr>
        </thead>
        <tbody id="kccTable">
            @{
                int kccCount = 1;
            }
            @foreach(var x in d.Where(a=> a.OtherInfo == null))
            {
                <tr>
                    <td>@kccCount</td>
                    <td>@x.OwnerName | District - @x.District | Village - @x.Village | Khasra No - @x.KhasraNo</td>
                    <td>@x.IrrigatedArea  Hect. </td>
                    <td>@x.UnIrrigatedArea Hect.</td>
                    <td>@x.TotalArea Hect. </td>
                   
                    <td>@if (editable)
                        {
                            <button type="button" class="btn btn-sm btn-warning" onclick="deleteKCC(@x.Id)" >Delete</button>    
                               
                        }</td>
                </tr>
                kccCount++;
            }
        </tbody>
    </table>

    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <th colspan="2">Agri Land Details (From Fasal Bima)</th>
                <th colspan="4">
                   
                </th>
            </tr>
            <tr>
                <th>S.No.</th>
                <th>Description</th>
                <th>Irrigated Area</th>
                <th>Unirrigated Area</th>
                <th>Total Area </th>
                
                
                <th></th>
            </tr>
        </thead>
        <tbody id="kccTable1">
            @{
                int kccCount1 = 1;
                
            }
            @foreach(var x in d.Where(a=> a.OtherInfo != null))
            {
                <tr>
                    <td>@kccCount1</td>
                    <td>@x.OwnerName | District - @x.District | Village - @x.Village | Khasra No - @x.KhasraNo</td>
                    <td>@x.IrrigatedArea  Hect. </td>
                    <td>@x.UnIrrigatedArea Hect.</td>
                    <td>@x.TotalArea Hect. </td>
                   
                    <td>@if (editable)
                        {
                            <button type="button" class="btn btn-sm btn-warning" onclick="deleteKCC(@x.Id)" >Delete</button>    
                               
                        }</td>
                </tr>
                kccCount1++;
            }
        </tbody>
    </table>

    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <th colspan="1">Crop Details</th>
                <th colspan="6">
                     @if (editable)
                    {
                        <a href="/LoanFlow/AddCrop?Id=@Model.AccountNo&season=Kharif" class="btn btn-primary btn-sm">
                        Add Kharif Crop</a>    
                        <a href="/LoanFlow/AddCrop?Id=@Model.AccountNo&season=Rabi" class="btn btn-primary btn-sm">
                        Add Rabi Crop</a>
                        <a href="/LoanFlow/AddCrop?Id=@Model.AccountNo&season=Summer" class="btn btn-primary btn-sm">
                        Add Summer Crop</a>
                        <a href="/LoanFlow/Eligibility/@Model.AccountNo" data-toggle="modal" data-target="#applicantModal" class="btn btn-danger btn-sm">
                        View Limit</a>
                    }
                </th>
            </tr>
            <tr>
                <th>S.No.</th>
                <th>Description</th>
                <th>Irrigated Area</th>
                <th>Unirrigated Area</th>
                <th>Season </th>
                <th>Crop </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody id="kccTable">
            @{
                int cropCount = 1;
            }
            @foreach(var x in (List<KCCCropDetailExisting>)ViewBag.CropDetails)
            {
                <tr>
                    <td>@cropCount</td>
                    <td>District - @x.KCCExistingLand.District | Village - @x.KCCExistingLand.Village | Khasra No - @x.KCCExistingLand.KhasraNo</td>
                    <td>@x.IrrigatedArea  Hect. </td>
                    <td>@x.UnIrrigatedArea Hect.</td>
                    <td>@x.Season </td>
                   <td>@x.Crop </td>
                    <td>@if (editable)
                        {
                            <button type="button" class="btn btn-sm btn-warning" onclick="deleteKCCCrop(@x.Id)" >Delete</button>    
                        }</td>
                </tr>
                cropCount++;
            }
        </tbody>
    </table>
    }

    
    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td colspan="3"><b>Attached Documents</b></td>
                <td colspan="2">
                 
                    
                        <a href="/LoanFlow/AddDocument/@Model.AccountNo"  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#applicantModal">
 Add 
</a> 
                    

                    

</td>
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Description
                </th>
                <th>
                    UserId
                </th>
                <th>
                    File Download
                </th>
               
                <th></th>
            </tr>
        </thead>
        <tbody id="docTable">
            @{
                slno = 1;
            }
          
        </tbody>

    </table>
   
       <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td><b>Inspection Reports</b></td>
               
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Description
                </th>
                <th>
                    UserId
                </th>
                <th>
                    Visit Date
                </th>
                <th>
                    <button type="button" class="btn btn-sm btn-warning" onclick="viewPresanction(@Model.AccountNo,'')" >View Report</button>
                </th>
               
                <th>@if (editable)
                    {
                       @* <button type="button" class="btn btn-sm btn-warning" onclick="addInspection()" >Add Inspection</button>    *@ 
                    }
                    
                    </th>
            </tr>
        </thead>
        <tbody id="inspectionTable">
           
        </tbody>

    </table>


</div>

<div id="toast" class="toast" role="alert" aria-live="assertive" data-delay=1500 aria-atomic="true" style="position: absolute; top:0; right: 40%;">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>


<input  type="hidden" id="toastMessage" data-msg="@ViewData["DMessage"].ToString()" value="@ViewData["Message"].ToString()"/>

@section scripts
{
    <script type="text/javascript">

        function showMsg()
        {
             iziToast.success({
                    title: 'Success!',
                    message: 'Data saved sucessfully' ,
                    position: 'topRight'
                });
        }

        function showMsg1(a)
        {
             iziToast.success({
                    title: 'Error!',
                    message: a ,
                    position: 'topRight'
                });
        }

        $(document).ready(function(){
            console.log('Ready State');
            if($('#toastMessage').val() == "OK")
            {
                showMsg();
            }
            else if($('#toastMessage').val() == "BAD")
            {
                showMsg1($('#toastMessage').attr('data-msg'));
            }
        });

       

       
</script>
}