@model Application
@inject CustomIDataProtection _protector

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int slno = 1;
    bool editable = (bool)ViewBag.Editable;
}
<div class="container">

    <div class="alert alert-danger" role="alert" style="margin-top:5px;">
         Application Id : @Model.Id |   Application is at : <b>@Model.Owner</b> | Application Type : <b id="LoanScheme">@Model.LoanScheme</b> | Applied Amount : <b id="appAmt">@Model.LoanApplications.Sum(a=> a.AppliedAmount)</b> <br/>
        Application status is : <b>@Model.Status</b> , Application Bucket : @Model.OwnerUser <br/> @if (Model.Status == "Sanctioned")
        {
            <b>Sanctioned By : @Model.SanctioningUserId (@Model.SanctioningLevel)</b>
           
            <span>Control Status : @Model.ControlStatus</span>
           
        }
        
    </div>

   

    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <tr>
            <td colspan="4">
                <b>Basic Application Details</b>
            </td>
            <td colspan="2">
                @if (editable)
        {
            if(Model.Owner == "RO" || Model.Owner == "AMH" || Model.Owner == "HO")
            {
                <a class="btn-danger btn btn-sm" href="/LoanFlow/ThirdParty/@Model.Id" data-toggle="modal" data-target="#applicantModal">External Verification</a>
            }
        }
                 @*<a class="btn btn-primary btn-sm" href="/LoanFlow/SendApplication?Id=@Model.Id" data-toggle="modal" data-target="#searchModal">Send Application</a>*@
            </td>
        </tr>
        <tr>
            
            <td><b>Branch</b></td>
            <td>@Model.BranchId</td>
            <td><b>Name</b></td>
            <td>@Model.ApplicantShortName</td>
            <td><b>Applicant Type</b></td>
            <td>@Model.TypeOfApplicant</td>
           
        </tr>
        <tr>
            
            <td><b>Scheme</b></td>
            <td>@Model.LoanScheme</td>
            <td><b>Purpose</b></td>
            <td>@Model.Purpose</td>
            <td><b>Status</b></td>
            <td>@Model.Status</td>
            
        </tr>
        <tr>
            
            <td><b>Sponsoring Agency</b></td>
            <td>@Model.SponsoringAgency</td>
            <td><b>Subsidy</b></td>
            <td>@Model.SubsidyAmt</td>
            <td><b>Application Date</b></td>
            <td>@Model.ApplicationDate.ToShortDateString()</td>
            
        </tr>
        <tr>
            <td><b>External Verification Alloted To:</b></td>
            <td>@Model.InspectionAllotedTo</td>
            <td><b>External Inspection Done:</b></td>
            <td>@Model.InspectionDone</td>
            <td></td>
            <td></td>
        </tr>
    </table>

   

    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td colspan="5">Details of Applicant</td>
                <td colspan="2"> @if (editable)
                    {
                        <a href="/LoanFlow/AddApplicant/@Model.Id" class="btn btn-primary btn-sm" >
                        Add Applicant
</a> <a href="/LoanFlow/SearchApplicant/@Model.Id" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#searchModal">
 Copy / Search
</a>    
                    }
                    </td>
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Date of Birth
                </th>
                <th>
                    Occupation
                </th>
                <th>
                    KYC Document
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="applicantTable">
            @foreach(var x in Model.Applicants.Where(a=> a.Driving_Lic != "Deleted"))
            {

                <tr>
                    <td>@slno</td>
                    <td>@x.Salutation @x.Applicant_First_Name @x.Applicant_Middle_Name @x.Applicant_Last_Name @x.Relationship @x.Guardian_Name</td>
                    <td>@x.TypeofApplicant</td>
                    <td>@x.Date_Of_Birth</td>
                    <td>@x.Occupation</td>
                    <td>
                        @if (x.KYC_Upload !=  null)
                        {
                            <a href="/@x.KYC_Upload" target="_blank">Download KYC</a>  
                        }
                        
                    </td>
                    <td>
                        @if (editable)
                        {
                            <a class="btn-danger btn btn-sm" href="/LoanFlow/EditApplicant/@x.Id" data-toggle="modal" data-target="#applicantModal">Edit</a>  <button type="button" class="btn btn-sm btn-warning" onclick="deleteApp(@x.Id)" >Delete</button>  <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#loadingModal" onclick="cibilApp(@x.Id);" >Get CIBIL</button>    
                        }
                        
                    </td>
                </tr>
                slno++;
            }
        </tbody>

    </table>

    @if (Model.Status == "Sanctioned")
    {
        <table  class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <th colspan="7">eMandates   <a class="btn btn-sm btn-danger" href="/LoanFlow/AddMandate/@Model.Id"> Add eMandate</a></th>
            </tr>
            <tr>
                <td>Bank Name</td>
                <td>Account No</td>
                <td>EMI</td>
                <td>First Collection Date</td>
                <td>Status</td>
                <td>Last Run Date</td>
                <td>LAst Run Status</td>
            </tr>
            </thead>  
            <tbody>
               @foreach(var x in Model.Mandates)
                {
                    <tr>
                        <td>@x.instructed_agent_code</td>
                        <td>@x.debtor_account_id</td>
                        <td>@x.amount</td>
                        <td>@x.first_collection_date</td>
                        <td>@x.mandate_status</td>
                        <td>@x.last_run_date</td>
                        <td>@x.last_run_status</td>
                    </tr>   
                }
            </tbody>

        </table>
        
    }


    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <th colspan="8">Cibil Details (Latest enquiry will be used for calculation)</th>
            </tr>
            <tr>
                <th>S.No.</th>
                <th>Applicant Name</th>
                <th>Cibil Score</th>
                <th>Date</th>
                <th>Total Accounts</th>
                <th>Closed Accounts</th>
                <th>Overdue Accounts</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="cibilTable">
            @{
                int crCount = 1;
            }
            @foreach(var x in (List<CIBILRequest>)ViewBag.CreditScore)
            {
                <tr>
                    <td>@crCount</td>
                    <td>@x.ApplicantDetail.Applicant_First_Name @x.ApplicantDetail.Applicant_Last_Name</td>
                    <td><a href="/Home/CreditScore/@x.Id">@x.ScoreName1 </a>  </td>
                    <td>@x.RequestDate</td>
                    <td>@x.CibilLoans.Count()</td>
                    <td>@x.CibilLoans.Where(a => a.currentBalance == "0").Count()</td>
                    <td>@x.CibilLoans.Where(a => int.Parse(a.amountOverdue ?? "0") != 0).Count()</td>
                    <td> @if (editable)
                        { <a class="btn btn-sm btn-primary" href="/Home/UpdateEmi/@x.Id">Update EMI</a> <a class="btn btn-sm btn-info" href="/LoanFlow/AddCibil/@x.Id" data-toggle="modal" data-target="#applicantModal">Add Additional Loan</a>}
                         </td>
                </tr>
                crCount++;
            }
        </tbody>
    </table>


    
     <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <th colspan="8">Account Statement Through Aggregator (Other Than our Bank)</th>
            </tr>
            <tr>
                <th>S.No.</th>
                <th>Mobile Number</th>
                <th>Status</th>
                <th>Bank Name</th>
                <th>Account Detail</th>
                
                <th>
                     @if (editable)
                    {
                        <a href="/LoanFlow/AddStatement/@Model.Id" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#applicantModal">
                        Request
</a>    
                    }
                </th>
                
            </tr>
        </thead>
        <tbody>
            @{
                int s = 1;   
            }
            @foreach(var x in Model.AccountStatments)
            {
                    <tr>
                        <td>@s</td>
                        <td>@x.MobileNumber</td>
                        <td>@x.request_status</td>
                        <td></td>
                        <td></td>
                        <td><a href="/LoanFlow/AACheck?id=@x.Id">View</a></td>

                    </tr>
                s++;
            }

        </tbody>
        </table>


     <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <th colspan="8">Project Cost</th>
            </tr>
            <tr>
                <th>S.No.</th>
                <th>Description</th>
                <th>Eligible for Bank Finance</th>
                <th>Cost</th>
                <th>Bank Finance</th>
                
                <th>
                     @if (editable)
                    {
                        <a href="/LoanFlow/AddProjectCost/@Model.Id" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#applicantModal">
                        Add Project Cost
</a>    
                    }
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="pjTable">
            @{
                int pjCount = 1;
            }
            @foreach(var x in (List<ProjectCost>)ViewBag.ProjectCost)
            {
                <tr>
                    <td>@pjCount</td>
                    <td>@x.Description</td>
                    <td>@x.EligibleForLoan  </td>
                    <td>@x.Cost</td>
                    <td>@x.AppliedAmount</td>
                   
                    <td>@if (editable)
                        {
                            <button type="button" class="btn btn-sm btn-warning" onclick="deletePj(@x.Id)" >Delete</button>    
                        }</td>
                </tr>
                pjCount++;
            }
        </tbody>
    </table>


    @if (Model.LoanScheme == "MUDRA-Transport")
    {
        <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <th colspan="2">Vehichle / Equipment  Details</th>
                <th >
                     @if (editable)
                    {
                              
                        <a href="/LoanFlow/TPL/@Model.Id" class="btn btn-primary btn-sm">
                        Add Details
</a>    
 <a href="/LoanFlow/MudraDetails/@Model.Id" class="btn btn-primary btn-sm">
                        Add Details (M)
</a>    
                    }
                </th>
                <th>
                     <a href="/LoanFlow/Eligibility/@Model.Id" data-toggle="modal" data-target="#applicantModal" class="btn btn-danger btn-sm">
                        DSCR</a>
                </th>
            </tr>
            <tr>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Type of Vehichle</th>
                
                
                
                <th>Mileage</th>
            </tr>
        </thead>
        <tbody id="tplTable">
                @if (Model.TPLDetails != null)
                { 
                
                <tr>
                 <td>@Model.TPLDetails.Manufacturer</td>
                 <td>@Model.TPLDetails.Model</td>
                 <td>@Model.TPLDetails.TypeOfVehichle</td>
                 <td>@Model.TPLDetails.Mileage @Model.TPLDetails.ReferenceUnit / 
                       @if (Model.TPLDetails.TypeOfVehichle == "Electric")
                {
                     <span>Charge</span>
                }
                else
                {
                     <span>Ltr</span>
                }

                 </td>
             </tr>}

             
        </tbody>
    </table>
    }

    @if (Model.LoanScheme.Contains("KCC") )
    {
          <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <th colspan="2">Agri Land Details</th>
                <th colspan="4">
                     @if (editable)
                    {
                              
                        <a href="/LoanFlow/UpdateKCCLand/@Model.Id" class="btn btn-primary btn-sm">
                        Update KCC Land (Mobile)
</a>    <a href="/LoanFlow/SplitLand/@Model.Id" data-toggle="modal" data-target="#applicantModal"  class="btn btn-sm btn-warning" >Split</a> 
                    }
                </th>
            </tr>
            <tr>
                <th>S.No.</th>
                <th>Description</th>
                <th>Irrigated Area</th>
                <th>Unirrigated Area</th>
                <th>Total Area </th>
                
                
                <th></th>
            </tr>
        </thead>
        <tbody id="kccTable">
            @{
                int kccCount = 1;
            }
            @foreach(var x in Model.KCCLandDetails)
            {
                <tr>
                    <td>@kccCount</td>
                    <td>@x.OwnerName | District - @x.District | Village - @x.Village | Khasra No - @x.KhasraNo</td>
                    <td>@x.IrrigatedArea  Hect. </td>
                    <td>@x.UnIrrigatedArea Hect.</td>
                    <td>@x.TotalArea Hect. </td>
                   
                    <td>@if (editable)
                        {
                            <button type="button" class="btn btn-sm btn-warning" onclick="deleteKCC(@x.Id)" >Delete</button>    
                               
                        }</td>
                </tr>
                kccCount++;
            }
        </tbody>
    </table>
    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <th colspan="1">Crop Details</th>
                <th colspan="6">
                     @if (editable)
                    {
                        <a href="/LoanFlow/AddCrop?Id=@Model.Id&season=Kharif" class="btn btn-primary btn-sm">
                        Add Kharif Crop</a>    
                        <a href="/LoanFlow/AddCrop?Id=@Model.Id&season=Rabi" class="btn btn-primary btn-sm">
                        Add Rabi Crop</a>
                        <a href="/LoanFlow/AddCrop?Id=@Model.Id&season=Summer" class="btn btn-primary btn-sm">
                        Add Summer Crop</a>
                        <a href="/LoanFlow/Eligibility/@Model.Id" data-toggle="modal" data-target="#applicantModal" class="btn btn-danger btn-sm">
                        View Limit</a>
                    }
                </th>
            </tr>
            <tr>
                <th>S.No.</th>
                <th>Description</th>
                <th>Irrigated Area</th>
                <th>Unirrigated Area</th>
                <th>Season </th>
                <th>Crop </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody id="kccTable">
            @{
                int cropCount = 1;
            }
            @foreach(var x in (List<KCCCropDetail>)ViewBag.KCCCropDetails)
            {
                <tr>
                    <td>@cropCount</td>
                    <td>District - @x.KCCLandDetails.District | Village - @x.KCCLandDetails.Village | Khasra No - @x.KCCLandDetails.KhasraNo</td>
                    <td>@x.IrrigatedArea  Hect. </td>
                    <td>@x.UnIrrigatedArea Hect.</td>
                    <td>@x.Season </td>
                   <td>@x.Crop </td>
                    <td>@if (editable)
                        {
                            <button type="button" class="btn btn-sm btn-warning" onclick="deleteKCCCrop(@x.Id)" >Delete</button>    
                        }</td>
                </tr>
                cropCount++;
            }
        </tbody>
    </table>
    }

   

     @if (Model.Status == "Sanctioned")
    {
          <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td colspan="10"><b>Sanction Details</b></td>
               
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Type of Facility
                </th>
                <th>
                    Purpose
                </th>
                <th>
                    Cost
                </th>
                <th>
                    Applied Amount
                </th>
                <th>Sanctioned Amount</th>
                <th>ROI</th>
                <th>Repay Start Date</th>
                <th>Repay Amount</th>
                <th>Repay Term</th>
            </tr>
        </thead>
        <tbody>
            @{
                slno = 1;
            }
            @foreach(var x in Model.LoanApplications)
            {

                <tr>
                    <td>@slno</td>
                    <td>@x.TypeOfFacility </td>
                    <td>@x.Description</td>
                    <td>@x.Cost</td>
                    <td>@x.AppliedAmount</td>
                     <td>@x.SanctionedAmount</td>
                    <td>@x.RateOfInterest</td>
                    <td>@x.RepayStartDate</td>
                    <td>@x.Repayment</td>
                    <td>@x.RepayTerm</td>
                </tr>
                slno++;
            }
        </tbody>

        </table>
    
        <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td ><b>Charges</b></td>
               
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Description
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Percentage (For Document)
                </th>
               
                
            </tr>
        </thead>
        <tbody>
            @{
                slno = 1;
            }
            @foreach(var x in Model.Charges)
            {

                <tr>
                    <td>@slno</td>
                    <td>@x.Details </td>
                    <td>@x.TotalAmount</td>
                    <td>@x.Percentage</td>
                   
                    
                     
                </tr>
                slno++;
            }
        </tbody>

    </table>
     <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td ><b>Disbursement Schedule</b></td>
             
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Description
                </th>
                <th>
                    Total Investment
                </th>
                <th>
                    Bank Contribution
                </th>
               
                
            </tr>
        </thead>
        <tbody>
            @{
                slno = 1;
            }
            @foreach(var x in Model.Disbursements)
            {

                <tr>
                    <td>@slno</td>
                    <td>@x.Details </td>
                    <td>@x.TotalAmount</td>
                    <td>@x.BankPart</td>
                    
                  
                    
                     
                </tr>
                slno++;
            }
        </tbody>

    </table>
    }
    else
    {
        <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td colspan="4"><b>Applied Amount Details</b></td>
                <td colspan="2">

                    @if (editable)
                    {
                                        <a href="/LoanFlow/AddLoanApplication/@Model.Id" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#applicantModal">
 Add 
</a>                    
                    }
     
</td>
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Type of Facility
                </th>
                <th>
                    Purpose
                </th>
                <th>
                    Cost
                </th>
                <th>
                    Applied Amount
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="loanTable">
            @{
                slno = 1;
            }
            @foreach(var x in Model.LoanApplications)
            {

                <tr>
                    <td>@slno</td>
                    <td>@x.TypeOfFacility </td>
                    <td>@x.Description</td>
                    <td>@x.Cost</td>
                    <td>@x.AppliedAmount</td>
                    <td>
                        @if (editable)
                        {
                            <button type="button" class="btn btn-sm btn-warning" onclick="deleteApplication(@x.Id)" >Delete</button>    
                        }

                        
                    </td>
                </tr>
                slno++;
            }
        </tbody>

    </table>
    }
        <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td colspan="6"><b>Security</b></td>
               <td>
                   @if (editable)
                    {
                                        <a href="/LoanFlow/AddSecurity/@Model.Id" class="btn btn-primary btn-sm" >
 Add 
</a>                    
                    }
               </td>
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Type of Security
                </th>
                <th>
                    Category
                </th>
                <th>
                   Security Detail
                </th>
               <th>Detail</th>
               <th>Valuation</th>
               <th></th>
                
            </tr>
        </thead>
        <tbody>
            @{
                slno = 1;
            }
            @foreach(var x in Model.Securities)
            {

                <tr>
                    <td>@slno</td>
                    <td>@x.TypeOfSecurity </td>
                    <td>@x.Category</td>
                    <td>@x.Description</td>
                    <td>@x.Location</td>
                    <td>@x.Valuation</td>
                     <td>
                        @if (editable)
                        {
                            <button type="button" class="btn btn-sm btn-warning" onclick="deleteSecurity(@x.Id)" >Delete</button>    
                        }

                        
                    </td>
                   
                    
                     
                </tr>
                slno++;
            }
        </tbody>

    </table>
    
    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td colspan="3"><b>Attached Documents</b></td>
                <td colspan="2">
                 
                    
                        <a href="/LoanFlow/AddDocument/@Model.Id"  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#applicantModal">
 Add 
</a> 
                    

                    

</td>
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Description
                </th>
                <th>
                    UserId
                </th>
                <th>
                    File Download
                </th>
               
                <th></th>
            </tr>
        </thead>
        <tbody id="docTable">
            @{
                slno = 1;
            }
            @foreach(var x in Model.Documents)
            {

                <tr>
                    <td>@slno</td>
                    <td>@x.Details </td>
                    <td>@x.UserId</td>
                    <td><a href="/@x.FilePath" target="_blank">Download</a></td>
                    
                    <td> 
                        @if (editable)
                        {
                            <button type="button" class="btn btn-sm btn-warning" onclick="deleteDocument(@x.Id)" >Delete</button>    
                        }
                        
                        
                    </td>
                </tr>
                slno++;
            }
        </tbody>

    </table>

    @if(Model.LoanScheme.Contains("Transport"))
    {
           <table  class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td colspan="4"><b>Additional Details (Transport Loan)</b></td>
                <td>
                    @if (editable)
                    {
                       
                        <a href="/LoanFlow/AddRemarkList?formName=application&Id=@Model.Id&view=TPL" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#applicantModal">Add Additonal Details</a>
                        
                    }
                    
                </td>
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Type
                </th>
                 <th>
                    User Id
                </th>
                <th>
                    Remark
                </th>
               <th></th>
               
                
            </tr>
        </thead>
        <tbody id="HLRemarks">
            @{
                slno = 1;
            }
            @foreach(var x in Model.Remarks.Where(a=> a.SpecialRemark == "Yes"))
            {

                <tr>
                    <td>@slno</td>
                    <td id="@x.TypeOfRemark.Replace(' ','_')">@x.TypeOfRemark </td>
                     <td>@x.UserId </td>
                    <td>@x.Statment</td>
                     <td>  @if (editable)
                        {
                            <button type="button" class="btn btn-sm btn-warning" onclick="deleteRemark(@x.Id)" >Delete</button>    
                               
                        }
                       </td>
                   
                     
                </tr>
                slno++;
            }
        </tbody>

    </table>
    }


    @if (Model.LoanScheme == "HL")
    {
          <table  class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td colspan="4"><b>Additional Details (Home Loan)</b></td>
                <td>
                    @if (editable)
                    {
                        <a href="/LoanFlow/AddRemark?formName=application&Id=@Model.Id&view=other" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#applicantModal">Add</a>  
                        <a href="/LoanFlow/AddRemarkList?formName=application&Id=@Model.Id&view=other" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#applicantModal">Add List View</a>
                        
                    }
                    
                </td>
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Type
                </th>
                 <th>
                    User Id
                </th>
                <th>
                    Remark
                </th>
               <th></th>
               
                
            </tr>
        </thead>
        <tbody id="HLRemarks">
            @{
                slno = 1;
            }
            @foreach(var x in Model.Remarks.Where(a=> a.SpecialRemark == "Yes"))
            {

                <tr>
                    <td>@slno</td>
                    <td id="@x.TypeOfRemark.Replace(' ','_')">@x.TypeOfRemark </td>
                     <td>@x.UserId </td>
                    <td>@x.Statment</td>
                     <td>  @if (editable)
                        {
                            <button type="button" class="btn btn-sm btn-warning" onclick="deleteRemark(@x.Id)" >Delete</button>    
                               
                        }
                       </td>
                   
                     
                </tr>
                slno++;
            }
        </tbody>

    </table>
    }

        @if (Model.LoanScheme.Contains("KCC"))
    {
          <table  class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td colspan="4"><b>Additional Details (KCC Loan)</b></td>
                <td>
                    @if (editable)
                    {
                        <a href="/LoanFlow/AddRemark?formName=application&Id=@Model.Id&view=KCC" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#applicantModal">Add</a>
                        <a href="/LoanFlow/AddRemarkList?formName=application&Id=@Model.Id&view=KCC" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#applicantModal">Add Details (List View)</a>
                    }
                    
                </td>
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Type
                </th>
                 <th>
                    User Id
                </th>
                <th>
                    Remark
                </th>
               <th></th>
               
                
            </tr>
        </thead>
        <tbody id="HLRemarks">
            @{
                slno = 1;
            }
            @foreach(var x in Model.Remarks.Where(a=> a.SpecialRemark == "Yes"))
            {

                <tr>
                    <td>@slno</td>
                    <td id="@x.TypeOfRemark.Replace(' ','_')">@x.TypeOfRemark </td>
                     <td>@x.UserId </td>
                    <td>@x.Statment</td>
                     <td>  @if (editable)
                        {
                            <button type="button" class="btn btn-sm btn-warning" onclick="deleteRemark(@x.Id)" >Delete</button>    
                               
                        }
                       </td>
                   
                     
                </tr>
                slno++;
            }
        </tbody>

    </table>
    }

   

     <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td colspan="2"><b>Remarks / Recommendation</b></td>
                <td>
                    @if (editable)
                    {
                        <a href="/LoanFlow/AddRemark?formName=application&Id=@Model.Id" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#applicantModal">Add</a>    
                         <a href="/LoanFlow/AddRemarkList?formName=application&Id=@Model.Id" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#applicantModal">Add List View</a>    
                    }
                    
                </td>
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Type
                </th>
                 <th>
                    User Id
                </th>
                <th>
                    Remark
                </th>
               <th></th>
               
                
            </tr>
        </thead>
        <tbody id="remarkSection">
            @{
                slno = 1;
            }
            @foreach(var x in Model.Remarks.Where(a=> a.SpecialRemark != "Yes" && a.DataType != "Movement"))
            {

                <tr>
                    <td>@slno</td>
                    <td id="@x.TypeOfRemark.Replace(' ','_')">@x.TypeOfRemark </td>
                     <td>@x.UserId </td>
                    <td>@x.Statment</td>
                    <td>  @if (editable)
                        {
                            <button type="button" class="btn btn-sm btn-warning" onclick="deleteRemark(@x.Id)" >Delete</button>    
                               
                        }
                       </td>
                   
                     
                </tr>
                slno++;
            }
        </tbody>

    </table>
    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td colspan="3"><b>Application Movement</b></td>
              
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Detail
                </th>
               
                <th>
                    Remark
                </th>
               
               
                
            </tr>
        </thead>
        <tbody id="movementSection">
            @{
                slno = 1;
            }
            @foreach(var x in Model.Remarks.Where(a=> a.DataType == "Movement"))
            {

                <tr>
                    <td>@slno</td>
                    <td>@x.TypeOfRecomendation | @x.Timestamp.ToShortDateString() </td>
                    
                    <td>@x.Statment</td>
                
                   
                     
                </tr>
                slno++;
            }
        </tbody>

    </table>
       <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td><b>Inspection Reports</b></td>
               
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Description
                </th>
                <th>
                    UserId
                </th>
                <th>
                    Visit Date
                </th>
                <th>
                    <button type="button" class="btn btn-sm btn-warning" onclick="viewPresanction(@Model.Id,'@Model.LoanScheme')" >View Report</button>
                </th>
               
                <th>@if (editable)
                    {
                       @* <button type="button" class="btn btn-sm btn-warning" onclick="addInspection()" >Add Inspection</button>    *@ 
                    }
                    
                    </th>
            </tr>
        </thead>
        <tbody id="inspectionTable">
            @{
                slno = 1;
            }
            @foreach(var x in Model.Inspections)
            {

                <tr>
                    <td>@slno</td>
                    <td>@x.Status 
                        @if(x.ClosureOfficialId == "No"){
                            <b>(Pre Inspection Statement Not Available)</b>
                        }
                    </td>
                    <td>@x.UserId</td>
                    <td>@x.VisitDate.ToShortDateString()</td>
                   
                    <td> 
                        @if (editable)
                        {
                            <button type="button" class="btn btn-sm btn-warning" onclick="deleteInspection(@x.Id)" >Delete</button>    
                               
                        }
                        
                        </td>
                        <td></td>
                </tr>
                slno++;
            }
        </tbody>

    </table>

    @if (Model.Status == "Sanctioned")
    {
             <div class="row justify-content-between text-left">
                  <div class="form-group col-sm-2 flex-column d-flex"> 
                            <button class="btn btn-danger" onclick="scoreCard(@Model.Id,'@Model.LoanScheme');">Score Card</button>
                        </div>
               
                 <div class="form-group col-sm-2 flex-column d-flex"> 
                            <button class="btn btn-success" onclick="pNote(@Model.Id,'@Model.LoanScheme');">Process Note</button>  
                        </div>
                        <div class="form-group col-sm-2 flex-column d-flex"> 
                            <button class="btn btn-success" onclick="arrLetter(@Model.Id,'@Model.LoanScheme');">Arrangment Letter</button>  
                        </div>
                        <div class="form-group col-sm-2 flex-column d-flex"> 
                            <button class="btn btn-warning" onclick="agLetter(@Model.Id,'@Model.LoanScheme');">Agreement Letter</button>
                        </div>
                       <div class="form-group col-sm-2 flex-column d-flex"> 
                            <button class="btn btn-primary" onclick="gLetter(@Model.Id,'@Model.LoanScheme');">Guarantee Letter / Other</button>
                        </div>
                        <div class="form-group col-sm-2 flex-column d-flex"> 
                            <button class="btn btn-danger" onclick="adLetter(@Model.Id,'@Model.LoanScheme');">Loan Application</button>
                        </div>
                    </div>
    }

    @if (editable )
    {
        if (Model.Owner == "Branch")
        {

            <div class="row justify-content-between text-left">
                 <div class="form-group col-sm-3 flex-column d-flex"> 
                            <button class="btn btn-primary" onclick="scoreCard(@Model.Id,'@Model.LoanScheme');">Score Card</button>
                        </div>
              <div class="form-group col-sm-3 flex-column d-flex"> 
                            <button class="btn btn-danger" onclick="adLetter(@Model.Id,'@Model.LoanScheme');">Loan Application</button>
                            
                        </div>

                         @if (Model.LoanScheme == "MUDRA-Transport"  )
                {
                    <div class="form-group col-sm-2 flex-column d-flex"> 
                            <button class="btn btn-success" onclick="sanction('@_protector.Decode(Model.Id.ToString())');">Proceed For Sanction</button>  
                        </div>
                }

                 @if (  Model.LoanScheme == "KCC"   || Model.LoanScheme == "KCC-20" )
                {
                    if (Model.LoanApplications.Sum(a=> a.AppliedAmount) < 300001)
                    {
                        <div class="form-group col-sm-2 flex-column d-flex"> 
                            <button class="btn btn-success" onclick="sanction('@_protector.Decode(Model.Id.ToString())');">Proceed For Sanction</button>  
                        </div>
                    }

                    
                }

                        <div class="form-group col-sm-3 flex-column d-flex"> 
                            <a class="btn btn-warning " href="/LoanFlow/SendApplication?Id=@Model.Id" data-toggle="modal" data-target="#searchModal">Forward Application</a>
                            @*<button class="btn btn-warning" onclick="forward('@_protector.Decode(Model.Id.ToString())');">Forward Application</button>*@
                        </div>
                       
                        <div class="form-group col-sm-3 flex-column d-flex"> 
                            <button class="btn btn-secondary" onclick="reject('@_protector.Decode(Model.Id.ToString())');">Reject Application</button>
                        </div>
            </div>
        }
        else
        {
            if (Model.PendingAction == "Deviation" && (Model.Owner == "RO" || Model.Owner == "HO") )
            {
                 <div class="row justify-content-between text-left">
                 <div class="form-group col-sm-4 flex-column d-flex"> 
                 <a class="btn btn-primary btn-sm" href="/LoanFlow/SendApplication?Id=@Model.Id&ViewType=Action" data-toggle="modal" data-target="#searchModal">Action</a>
                </div>
                </div>
            }
            else
            {
                 <div class="row justify-content-between text-left">
                  <div class="form-group col-sm-2 flex-column d-flex"> 
                            <button class="btn btn-danger" onclick="scoreCard(@Model.Id,'@Model.LoanScheme');">Score Card</button>
                        </div>
              <div class="form-group col-sm-2 flex-column d-flex"> 
                            <button class="btn btn-danger" onclick="adLetter(@Model.Id,'@Model.LoanScheme');">Loan Application</button>
                        </div>
                        <div class="form-group col-sm-2 flex-column d-flex"> 
                            <button class="btn btn-success" onclick="sanction('@_protector.Decode(Model.Id.ToString())');">Proceed For Sanction</button>  
                        </div>
                        <div class="form-group col-sm-2 flex-column d-flex"> 
                            <a class="btn btn-warning " href="/LoanFlow/SendApplication?Id=@Model.Id" data-toggle="modal" data-target="#searchModal">Forward Application</a>
                            @*<button class="btn btn-warning" onclick="forward('@_protector.Decode(Model.Id.ToString())');">Forward Application</button>*@
                        </div>
                       <div class="form-group col-sm-2 flex-column d-flex"> 
                           <a class="btn btn-primary " href="/LoanFlow/SendApplication?Id=@Model.Id&ViewType=Return" data-toggle="modal" data-target="#searchModal">Return Application</a>
                           @* <button class="btn btn-primary" onclick="returnp('@_protector.Decode(Model.Id.ToString())');">Return Application</button>*@
                        </div>
                        <div class="form-group col-sm-2 flex-column d-flex"> 
                            <button class="btn btn-danger" onclick="reject('@_protector.Decode(Model.Id.ToString())');">Reject Application</button>
                        </div>
                    </div>
            }
           
        }

        
    }

  

</div>

<div id="toast" class="toast" role="alert" aria-live="assertive" data-delay=1500 aria-atomic="true" style="position: absolute; top:0; right: 40%;">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>



<div class="modal" id="applicantModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="appModal">
        
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="searchModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
       
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="loadingModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
       
      <div class="modal-body">
        <img src="/images/loading-6.gif" class="img-fluid"/>
      </div>
       
    </div>
  </div>
</div>

<input  type="hidden" id="toastMessage" data-msg="@ViewData["DMessage"].ToString()" value="@ViewData["Message"].ToString()"/>

@section scripts
{
    <script type="text/javascript">

        function showMsg()
        {
             iziToast.success({
                    title: 'Success!',
                    message: 'Data saved sucessfully' ,
                    position: 'topRight'
                });
        }
        function showMsg1(a)
        {
             iziToast.success({
                    title: 'Error!',
                    message: a ,
                    position: 'topRight'
                });
        }

        $(document).ready(function(){
            console.log('Ready State');
            if($('#toastMessage').val() == "OK")
            {
                showMsg();
            }
            else if($('#toastMessage').val() == "BAD")
            {
                showMsg1($('#toastMessage').attr('data-msg'));
            }
        });

        $("#applicantModal").on('shown.bs.modal', function () {
           $(this).find('select').select2();
           const input = document.querySelector('input[id="addDoc"]');
            const options = document.querySelectorAll('#options option');

            input.addEventListener('input', function() {
              for (const option of options) {
                if (option.value.toLowerCase().startsWith(this.value.toLowerCase())) {
                  option.style.display = 'block';
                } else {
                  option.style.display = 'none';
                }
              }
            });
        });

       

        
        function searchBC(){
            $('#bcCode').select2();
        }


        $('body, html').on('change','#agencyType', function(e) {
           var id =  $('#agencyType').find(":selected").val();
           var Appid =  $('#agencyType').find(":selected").val();
             $.ajax({   
                url: "/LoanFlow/GetAgencyList",   
                type: "GET",   
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',   
                data: {'br':id , AppId : '@Model.Id'}   
            }).done(function (data) {
                    
                    $('#bcCode').html(data);
                    $('#bcCode').select2();
            });   

        });
       

        $('body, html').on('change','#brListRemark', function(e) {
           var id =  $('#brListRemark').find(":selected").val();
             $.ajax({   
                url: "/LoanFlow/GetUsers",   
                type: "GET",   
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',   
                data: {'br':id , 'CheckType':'oo'}   
            }).done(function (data) {
                    
                    $('#staffList').html(data);
            });   

        });
         $('body, html').on('change','#SecondaryRemark', function(e) {
           var id =  $('#SecondaryRemark').find(":selected").attr('data-id');
           if(id !='0')
           {
               $('.hide1').hide();
               $('.hide1').removeAttr('name');
               $('#' + id).show();
               $('#' + id).attr('name','Statment');
           }
           else{
               $('.hide1').hide();
               $('.hide1').removeAttr('name');
               $('.hide2').show();
               $('.hide2').attr('name','Statment');
           }

        });
        $('body, html').on('change','#TypeOfRemark', function(e) {
           var id =  $('#TypeOfRemark').find(":selected").attr('data-id');
           if(id !='0')
           {
               $('.hide1').hide();
               $('.hide1').removeAttr('name');
               $('.hide1').removeAttr('required');
               $('#' + id).show();
               $('#' + id).attr('name','Statment');

           }
           else{
               $('.hide1').hide();
               $('.hide1').removeAttr('name');
               $('.hide2').show();
               $('.hide2').attr('name','Statment');
                $('.hide2').attr('required','required');
           }

        });


        function pNote(a,b)
       {
            
           //http://10.80.1.123:2000/docGenerate/processNotePer?appID=4
           window.location = '/Home/Document?docType=processNote&AppID=' + a + '&LoanType='+b+'&docId=4';
       }
       function arrLetter(a,b)
       {
           window.location = '/Home/Document?docType=getDoc&AppID=' + a + '&LoanType='+b+'&docId=1';
       }
       function agLetter(a,b)
       {
           window.location = '/Home/Document?docType=getDoc&AppID=' + a + '&LoanType='+b+'&docId=2';
       }
       function gLetter(a,b)
       {
           window.location = '/Home/Document?docType=getDoc&AppID=' + a + '&LoanType='+b+'&docId=3';
       }
       function scoreCard(a,b)
       {
           window.location = '/Home/Document?docType=scoreCard&AppID=' + a + '&LoanType='+b+'&docId=3';
       }
       function adLetter(a,b)
       {
           var count = $("#remarkSection tr").length;
            if(count == 0)
            {
                alert('Remarks not recorded , Cannot proceed !');
                return;
            }
            else
            {
                count = $('#Mode_of_Repayment').length;
                if(count == 0)
                {
                    alert('Repayment Mode not recorded , Cannot proceed  !');
                    return;
                }
                
            }
            window.location = '/Home/Document?docType=loanForm&AppID=' + a + '&LoanType='+b+'&docId=4';
       }
    function sanction(a)
    {
        if(confirm("Are you sure ?"))
        {
            if ($('#LoanScheme').val() == "HL")
            {
                
                var count = $("#HLRemarks tr").length;
                if(count == 0)
                {
                    alert('No Hl Remarks present , Cannot proceed to sanction !');
                    return;
                }
                count = $("#LTV").length;
                if(count == 0)
                {
                    alert('LTV Not defined, Cannot proceed to sanction !');
                    return;
                }
                count = $("#Repayment_During_Moratorium").length;
                if(count == 0)
                {
                    alert('Moratorium Interest Repayment Not defined, Cannot proceed to sanction !');
                    return;
                }
                count = $("#Purpose_of_HL").length;
                if(count == 0)
                {
                    alert('HL Purpose not defined, Cannot proceed to sanction !');
                    return;
                }
                count = $("#Proposed_HL_Address").length;
                if(count == 0)
                {
                    alert('LTV Not defined, Cannot proceed to sanction !');
                    return;
                }
            }
            var count = $("#applicantTable tr").length;
            if(count == 0)
            {
                alert('No Applicant present , Cannot proceed to sanction !');
                return;
            }
            count = $("#cibilTable tr").length;
            if(count == 0)
            {
                alert('CIBIL not verified , Cannot proceed to sanction !');
                return;
            }
            count = $("#loanTable tr").length;
            if(count == 0)
            {
                alert('Loan application not present , Cannot proceed to sanction !');
                return;
            }
            count = $("#inspectionTable tr").length;
            if(count == 0)
            {
                alert('Presanction not recorded , Cannot proceed to sanction !');
                return;
            }
            count = $("#docTable tr").length;
            if(count == 0)
            {
                alert('No documents uploaded, Cannot proceed to sanction !');
                return;
            }
            count = $("#remarkSection tr").length;
            if(count == 0)
            {
                alert('Recomendation not recorded , Cannot proceed to sanction !');
                return;
            }
            else
            {
                if($('#LoanScheme').val() == "HL" || $('#LoanScheme').val() == "Car" || $('#LoanScheme').val() == "PL" || $('#LoanScheme').val() == "PL-Agri" || $('#LoanScheme').val() == "PL-SECL")
                {
                    count = $('#CreditScore').length;
                    if(count == 0)
                    {
                        alert('Score card details not filled , Cannot proceed to sanction !');
                         return;
                    }
                }

                if($('#LoanScheme').val() == "KCC" || $('#LoanScheme').val() == 'KCC-20')
                {
                    if(int.Parse($('#appAmt').val()) > 300000)
                    {
                         count = $('#CreditScore').length;
                        if(count == 0)
                        {
                             alert('Score card details not filled , Cannot proceed to sanction !');
                             return;
                        }
                    }
                }
                
                count = $('#Branch_Recomendation').length;
                if(count == 0)
                {
                    alert('Branch Recomendation not filled , Cannot proceed to sanction !');
                    return;
                }
                if($('#LoanScheme').text() == 'HL')
                {
                     count = $('#LTV').length;
                     if(count == 0)
                     {
                        alert('LTV not filled , Cannot proceed to sanction !');
                        return;
                     }
                }
            }
           
            window.location = '/LoanFlow/Sanction?Id=' + a;
             
            
        }
       
    }
    function reject(a)
    {
        if(confirm("Are you sure ?"))
        {
            var count = $("#remarkSection tr").length;
            if(count == 0)
            {
                alert('Remarks not recorded , Cannot proceed !');
                return;
            }
            else
            {
                count = $('#RejectRemarks').length;
                if(count == 0)
                {
                    alert('Return Remarks not recorded , Cannot proceed  !');
                    return;
                }
                
            }
            window.location = '/LoanFlow/UpdateStatus?Id=' + a + '&action1=Reject';
        }
        
    }
     function viewPresanction(a,b)
    {
        if(confirm("Are you sure ?"))
        {
             if ($('#LoanScheme').text() == "HL")
            {
                
                var count = $("#HLRemarks tr").length;
                if(count == 0)
                {
                    alert('No Hl Remarks present , Cannot proceed ! !');
                    return;
                }
                count = $("#LTV").length;
                if(count == 0)
                {
                    alert('LTV Not defined, Cannot proceed ! !');
                    return;
                }
                count = $("#Repayment_During_Moratorium").length;
                if(count == 0)
                {
                    alert('Moratorium Interest Repayment Not defined, Cannot proceed ! !');
                    return;
                }
                count = $("#Purpose_of_HL").length;
                if(count == 0)
                {
                    alert('HL Purpose not defined, Cannot proceed ! !');
                    return;
                }
                count = $("#Proposed_HL_Address").length;
                if(count == 0)
                {
                    alert('Proposed HL Address Not defined, Cannot proceed ! !');
                    return;
                }
            }
            var count = $("#applicantTable tr").length;
            if(count == 0)
            {
                alert('No Applicant present , Cannot proceed ! !');
                return;
            }
            count = $("#cibilTable tr").length;
            if(count == 0)
            {
                alert('CIBIL not verified , Cannot proceed ! !');
                return;
            }
            
            count = $("#inspectionTable tr").length;
            if(count == 0)
            {
                alert('Presanction not recorded , Cannot proceed ! !');
                return;
            }
            
            count = $("#remarkSection tr").length;
            if(count == 0)
            {
                alert('Recomendation not recorded , Cannot proceed ! !');
                return;
            }
            else
            {
                //count = $('#CreditScore').length;
                //if(count == 0)
                //{
                //    alert('Score card details not filled , Cannot proceed ! !');
                //    return;
                //}
                count = $('#Branch_Recomendation').length;
                if(count == 0)
                {
                    alert('Branch Recomendation not filled , Cannot proceed ! !');
                    return;
                }
                
            }
            window.location = '/Home/Document?docType=preSanction&AppID=' + a + '&loanType=' + b;
        }
        
    }
    function returnp(a)
    {
        if(confirm("Are you sure ?"))
        {
            var count = $("#remarkSection tr").length;
            if(count == 0)
            {
                alert('Remarks not recorded , Cannot proceed !');
                return;
            }
            else
            {
                count = $('#ReturnRemarks').length;
                if(count == 0)
                {
                    alert('Return Remarks not recorded , Cannot proceed  !');
                    return;
                }
                
            }
            window.location = '/LoanFlow/UpdateStatus?Id=' + a + '&action1=Return';
        }
        
    }
    function forward(a)
    {
        if(confirm("Are you sure ?"))
        {
            window.location = '/LoanFlow/UpdateStatus?Id=' + a + '&action1=Forward';
        }
        
    }

    
    function deleteRemark(a)
    {
        if(confirm("Are you sure ?"))
        {
            window.location = '/LoanFlow/DeleteRemark?Id=' + a + '&action1=Forward';
        }
        
    }

    function deleteApp(a)
    {
        if(confirm("Are you sure ?"))
        {
            window.location = '/LoanFlow/DeleteApplicant?Id=' + a;
        }
        else
        {
            alert('Not Deleted');
        }
    }
    function cibilApp(a)
    {
        if(confirm("Are you sure ?"))
        {
            window.location = '/Home/GetCibil?AppId=' + a;
        }
        else
        {
            alert('Not generated');
        }
    
    }
    function deletePj(a)
    {
        if(confirm("Are you sure ?"))
        {
            window.location = '/LoanFlow/DeleteProjectCost?Id=' + a;
        }
        else
        {
            alert('Not Deleted');
        }
    }
    function deleteKCC(a)
    {
        if(confirm("Are you sure ?"))
        {
            window.location = '/LoanFlow/DeleteKCCLand?Id=' + a;
        }
        else
        {
            alert('Not Deleted');
        }
    }
    function deleteKCCCrop(a)
    {
        if(confirm("Are you sure ?"))
        {
            window.location = '/LoanFlow/DeleteKCCCrop?Id=' + a;
        }
        else
        {
            alert('Not Deleted');
        }
    }
    function deleteInspection(a)
    {
        if(confirm("Are you sure ?"))
        {
            window.location = '/LoanFlow/DeleteInspection?Id=' + a;
        }
        else
        {
            alert('Not Deleted');
        }
    }
    function deleteApplication(a)
    {
        if(confirm("Are you sure ?"))
        {
            window.location = '/LoanFlow/DeleteApplication?Id=' + a;
        }
        else
        {
            alert('Not Deleted');
        }
    }
    function deleteDocument(a)
    {
        if(confirm("Are you sure ?"))
        {
            window.location = '/LoanFlow/DeleteDocument?Id=' + a;
        }
        else
        {
            alert('Not Deleted');
        }
    }
     function deleteSecurity(a)
    {
        if(confirm("Are you sure ?"))
        {
            window.location = '/LoanFlow/DeleteSecurity?Id=' + a;
        }
        else
        {
            alert('Not Deleted');
        }
    }
    function addInspection()
    {
        if(confirm("Are you sure ?"))
        {
            window.location = '/LoanFlow/ManualInspection';
        }
        
    }
    function copyApp(a,b)
    {
        if(confirm("Are you sure ?"))
        {
            window.location = '/LoanFlow/CopyApplicant?Id=' + a + '&AppId=' + b;
        }
        else
        {
            alert('Not Deleted');
        }
    }
    function formSearch(){
     var valdata = $("#formsearch").serialize();   
           
            $.ajax({   
                url: "/LoanFlow/SearchApplicant",   
                type: "POST",   
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',   
                data: valdata   
            }).done(function (data) {
                    console.log(data);
                    $('#searchResult').html(data);
            });   
    } 
  $('#applicantModal').on('show.bs.modal', function (e) {
    $(this).find('.modal-body').load(e.relatedTarget.href);
  });
   $('#searchModal').on('show.bs.modal', function (e) {
    $(this).find('.modal-body').load(e.relatedTarget.href);
  });
</script>
}