@model Application
@inject CustomIDataProtection _protector
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_BaseImport3";
    int slno = 1;
   
    AccountData acct = new AccountData();
    if (ViewBag.AccountDetails != null)
    {
        acct = (AccountData)ViewBag.AccountDetails;
    }
     
}

<style type="text/css">
    .container {
  position: relative;
  width: 100%;
  height: 100%;
}

.watermark-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: left bottom;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.3);
}
</style>

 
<div class="container">

   

    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <tr>
            <td colspan="6">
                <b>Control Form (Application Sanctioned by @Model.SanctioningLevel / @Model.SanctioningUserId)</b>
            </td>
        </tr>
        <tr>
            
            <td><b>Branch</b></td>
            <td>@Model.BranchId</td>
            <td><b>Name</b></td>
            <td>@Model.ApplicantShortName</td>
            <td><b>Applicant Type</b></td>
            <td>@Model.TypeOfApplicant</td>
        </tr>
        <tr>
            
            <td><b>Scheme</b></td>
            <td>@Model.LoanScheme</td>
            <td><b>Purpose</b></td>
            <td>@Model.Purpose</td>
            <td><b>Status</b></td>
            <td>@Model.Status</td>
        </tr>
        <tr>
            
            <td><b>Sponsoring Agency</b></td>
            <td>@Model.SponsoringAgency</td>
            <td><b>Subsidy</b></td>
            <td>@Model.SubsidyAmt</td>
            <td><b>Application Date</b></td>
            <td>@Model.ApplicationDate.ToShortDateString()</td>
        </tr>
        <tr>

            <td><b>Control Status</b></td>
            <td>@Model.ControlStatus</td>
            <td><b>Control Date</b></td>
            <td>@Model.ControlledDate</td>
            <td><b>Control Remarks</b></td>
            <td>@Model.ControlRemark</td>
        </tr>
    </table>

    @if (acct != null)
    {
        <table class="table table-bordered table-sm">
        <tr>
            <td><b>Mapped Account</b></td>
            <td>@acct.account_no</td>
            <td><b>Limit</b></td>
            <td>@acct.odlimit</td>
            <td><b>Current Balance</b></td>
            <td>@acct.currentbalance</td>
        </tr>
        <tr>
            <td><b>Product Code</b></td>
            <td>@acct.accounttype - @acct.interestcat</td>
            <td><b>ROI</b></td>
            <td>@acct.intrate</td>
            <td><b>Product Desc</b></td>
            <td>@acct.name</td>
        </tr>

    </table>
    }
    
     
   

    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td colspan="5">Details of Applicant</td>
                <td colspan="2"> 
                   
                    </td>
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Date of Birth
                </th>
                <th>
                    Occupation
                </th>
                <th>
                    KYC Document
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var x in Model.Applicants.Where(a=> a.Driving_Lic != "Deleted"))
            {

                <tr>
                    <td>@slno</td>
                    <td>@x.Salutation @x.Applicant_First_Name @x.Applicant_Middle_Name @x.Applicant_Last_Name @x.Relationship @x.Guardian_Name</td>
                    <td>@x.TypeofApplicant</td>
                    <td>@x.Date_Of_Birth</td>
                    <td>@x.Occupation</td>
                    <td> <a href="/@x.KYC_Upload">Download KYC</a>  </td>
                    <td>
                        
                        
                    </td>
                </tr>
                slno++;
            }
        </tbody>

    </table>
    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <th colspan="8">Cibil Details (Latest enquiry will be used for calculation)</th>
            </tr>
            <tr>
                <th>S.No.</th>
                <th>Applicant Name</th>
                <th>Cibil Score</th>
                <th>Date</th>
                <th>Total Accounts</th>
                <th>Closed Accounts</th>
                <th>Overdue Accounts</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="cibilTable">
            @{
                int crCount = 1;
            }
            @foreach (var x in (List<CIBILRequest>)ViewData["CreditScore"])
            {
                <tr>
                    <td>@crCount</td>
                    <td>@x.ApplicantDetail.Applicant_First_Name @x.ApplicantDetail.Applicant_Last_Name</td>
                    <td><a href="/Home/CreditScore/@x.Id">@x.ScoreName1 </a>  </td>
                    <td>@x.RequestDate</td>
                    <td>@x.CibilLoans.Count()</td>
                    <td>@x.CibilLoans.Where(a => a.currentBalance == "0").Count()</td>
                    <td>@x.CibilLoans.Where(a => int.Parse(a.amountOverdue ?? "0") != 0).Count()</td>
                    <td>
                        
                    </td>
                </tr>
                crCount++;
            }
        </tbody>
    </table>
    
          <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
            <tr>
                <td colspan="10"><b>Sanction Details</b></td>
               
            </tr>
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Type of Facility
                </th>
                <th>
                    Purpose
                </th>
                <th>
                    Cost
                </th>
                <th>
                    Applied Amount
                </th>
                <th>Sanctioned Amount</th>
                <th>ROI</th>
                <th>Repay Start Date</th>
                <th>Repay Amount</th>
                <th>Repay Term</th>
            </tr>
        </thead>
        <tbody>
            @{
                slno = 1;
            }
            @foreach(var x in Model.LoanApplications)
            {

                <tr>
                    <td>@slno</td>
                    <td>@x.TypeOfFacility </td>
                    <td>@x.Description</td>
                    <td>@x.Cost</td>
                    <td>@x.AppliedAmount</td>
                     <td>@x.SanctionedAmount</td>
                    <td>@x.RateOfInterest</td>
                    <td>@x.RepayStartDate</td>
                    <td>@x.Repayment</td>
                    <td>@x.RepayTerm</td>
                </tr>
                slno++;
            }
        </tbody>

        </table>
    <table class="table table-bordered table-sm" style="padding-top:5px;">
        <thead>
        <tr>
            <th colspan="3">Sanction & Control Remarks</th>
        </tr>
        </thead>
        @foreach (var item in Model.Remarks.Where(a=> a.TypeOfRemark.Contains("Control") || a.TypeOfRemark.Contains("Sanction") && a.TypeOfRemark != "For Sanction"))
       {
           <tr>
               <td>@item.UserId</td>
                <td>@item.TypeOfRemark</td>
                <td>@item.Statment</td>
           </tr>
       }
        </table>


    <div class="watermark-container">
        Controlled
    </div>
</div>
   

@section scripts
{
    <script type="text/javascript">


         function viewPresanction(a,b)
    {
        if(confirm("Are you sure ?"))
        {
              
            window.location = '/Home/Document?docType=preSanction&AppID=' + a + '&loanType=' + b;
        }
        
    }
    
    function sanction(a)
    {
        if(confirm("Are you sure ?"))
        {
            var count = $("#Control_Remarks").length;
            if(count == 0)
            {
                    alert('No Control Remarks present , Cannot proceed   !');
                    return;
            }
            window.location = '/LoanFlow/UpdateStatus?Id=' + a + '&action1=Control';
        }
        
    }
    function returnp(a)
    {
        if(confirm("Are you sure ?"))
        {
            var count = $("#Control_Return_Remarks").length;
            if(count == 0)
            {
                    alert('No Control Return Remarks present , Cannot proceed  !');
                    return;
            }
            window.location = '/LoanFlow/UpdateStatus?Id=' + a + '&action1=ControlReturn';
        }
        
    }
    function forward(a)
    {
        if(confirm("Are you sure ?"))
        {
            window.location = '/LoanFlow/UpdateStatus?Id=' + a + '&action1=Forward';
        }
        
    }
     function pNote(a,b)
       {
            
           //http://10.80.1.123:2000/docGenerate/processNotePer?appID=4
           window.location = '/Home/Document?docType=processNote&AppID=' + a + '&LoanType='+b+'&docId=4';
       }
       function arrLetter(a,b)
       {
           window.location = '/Home/Document?docType=getDoc&AppID=' + a + '&LoanType='+b+'&docId=1';
       }
       function agLetter(a,b)
       {
           window.location = '/Home/Document?docType=getDoc&AppID=' + a + '&LoanType='+b+'&docId=2';
       }
       function gLetter(a,b)
       {
           window.location = '/Home/Document?docType=getDoc&AppID=' + a + '&LoanType='+b+'&docId=3';
       }
       function scoreCard(a,b)
       {
           window.location = '/Home/Document?docType=scoreCard&AppID=' + a + '&LoanType='+b+'&docId=3';
       }
       function adLetter(a,b)
       {
          window.location = '/Home/Document?docType=loanForm&AppID=' + a + '&LoanType='+b+'&docId=4';
       }
   
       
    
    
  $('#applicantModal').on('show.bs.modal', function (e) {
    $(this).find('.modal-body').load(e.relatedTarget.href);
  });
   $('#searchModal').on('show.bs.modal', function (e) {
    $(this).find('.modal-body').load(e.relatedTarget.href);
  });
</script>
}